
<div class="intro_thietke">
    <div class="container">
        <div class="title_f"><a href="intro-dich-vu-sua-chua-nha.html">QUY TRÌNH SỬA CHỮA NHÀ</a></div>
        <div class="desc_kientruc clearfix">
            <p><span style="line-height:2"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif">Sửa chữa nh&agrave; l&agrave; một c&ocirc;ng việc phức tạp đ&ograve;i hỏi c&oacute; sự chuẩn bị cẩn thận. Cần lập n&ecirc;n quy tr&igrave;nh sửa chữa nh&agrave; một c&aacute;ch khoa học v&agrave; đi theo tr&igrave;nh tự hợp l&yacute;.</span></span></span></p>
        </div>
        <a href="intro-dich-vu-sua-chua-nha.html" class="xemthem">Xem thêm _</a>
    </div>
</div>
<div class="group_tinvavideo">
    <div class="container">
        <div class="row custom">
            <div class="col s12 m12 l4 xl4">
                <div class="title_m"><a href="tin-tuc.html">TIN TỨC - SỰ KIỆN</a></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.slick_tintucmoi').slick({
                            infinite: true,
                            accessibility: false,
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            speed: 1000,
                            arrows: false,
                            centerMode: false,
                            dots: false,
                            draggable: true,
                            pauseOnHover: true,
                            vertical: true
                        });
                    });
                </script>
                <div class="slick_tintucmoi">
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/gia-long-gui-loi-chuc-tet-2021-toi-quy-khach-hang-271.html">
                            <img  src="~/Themes/easyweb/images/sanpham/ct7267_500x500.jpg" alt="GIA LONG GỬI LỜI CHÚC TẾT 2021 TỚI QUÝ KHÁCH HÀNG">
                            <h3 class="m-0">GIA LONG GỬI LỜI CHÚC TẾT 2021 TỚI QUÝ KHÁCH HÀNG</h3>
                            <p>Lại một mùa xuân mới tràn đầy yêu thương nữa chuẩn bị...</p>
                        </a>
                    </div>
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/chuong-trinh-khuyen-mai-tai-gia-long-nhan-dip-tet-canh-ty-237.html">
                            <img  src="~/Themes/easyweb/images/sanpham/km6731_500x500.jpg" alt="CHƯƠNG TRÌNH KHUYẾN MÃI TẠI GIA LONG NHÂN DỊP TẾT CANH TÝ">
                            <h3 class="m-0">CHƯƠNG TRÌNH KHUYẾN MÃI TẠI GIA LONG NHÂN DỊP TẾT CANH TÝ</h3>
                            <p>Chúng tôi gửi đến quý khách hàng thân yêu chương trình khuyến...</p>
                        </a>
                    </div>
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/cac-buoc-xay-dung-nha-o-231.html">
                            <img  src="~/Themes/easyweb/images/sanpham/ps866107_500x500.jpg" alt="CÁC BƯỚC XÂY DỰNG NHÀ Ở">
                            <h3 class="m-0">CÁC BƯỚC XÂY DỰNG NHÀ Ở</h3>
                            <p>Việc nắm rõ các bước xây dựng nhà ở giúp gia chủ không...</p>
                        </a>
                    </div>
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/thiet-ke-ban-ve-dieu-quan-trong-khi-xay-dung-230.html">
                            <img  src="~/Themes/easyweb/images/sanpham/thiet-ke-ban-ve-024949_500x500.jpg" alt="THIẾT KẾ BẢN VẼ ĐIỀU QUAN TRỌNG KHI XÂY DỰNG">
                            <h3 class="m-0">THIẾT KẾ BẢN VẼ ĐIỀU QUAN TRỌNG KHI XÂY DỰNG</h3>
                            <p>Thiết kế bản vẽ là sự thể hiện các chi tiết cụ thể...</p>
                        </a>
                    </div>
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/gia-long-vua-cat-bang-khanh-thanh-4-du-an-trong-thang-9-191.html">
                            <img  src="~/Themes/easyweb/images/sanpham/la117674_500x500.jpg" alt="GIA LONG VỪA CẮT BĂNG KHÁNH THÀNH 4 DỰ ÁN TRONG THÁNG 9">
                            <h3 class="m-0">GIA LONG VỪA CẮT BĂNG KHÁNH THÀNH 4 DỰ ÁN TRONG THÁNG 9</h3>
                            <p>Với những nỗ lực không ngừng nghỉ của tập thể công...</p>
                        </a>
                    </div>
                    <div class="border-0 item_tintucmoi d-block">
                        <a class="clearfix" href="tin-tuc/xay-dung-nha-o-nhung-dieu-can-luu-y-228.html">
                            <img  src="~/Themes/easyweb/images/sanpham/bt27072_500x500.jpg" alt="XÂY DỰNG NHÀ Ở NHỮNG ĐIỀU CẦN LƯU Ý">
                            <h3 class="m-0">XÂY DỰNG NHÀ Ở NHỮNG ĐIỀU CẦN LƯU Ý</h3>
                            <p>Xây dựng nhà ở những điều cần lưu ý giúp gia chủ nắm...</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="title_m"><a href="y-kien-khach-hang.html">Ý KIẾN KHÁCH HÀNG</a></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.slick_ykienkhachhang').slick({
                            infinite: true,
                            accessibility: false,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 3000,
                            speed: 1000,
                            arrows: false,
                            centerMode: false,
                            dots: false,
                            draggable: true,
                            pauseOnHover: true
                        });
                    });
                </script>
                <div class="slick_ykienkhachhang">
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/chi-huynh-ai-linh-quan-binh-tan-248.html">
                            <img  src="~/Themes/easyweb/images/sanpham/kh11360_500x500.jpg" alt="CHỊ HUỲNH ÁI LINH - QUẬN BÌNH TÂN">
                            <h3 class="m-0">CHỊ HUỲNH ÁI LINH - QUẬN BÌNH TÂN</h3>
                            <p>Gđ tôi xây dựng căn nhà tại số 338/28 đường chiến lược, bình trị đông A, quận bình tân. Qua tìm hiểu...</p>
                        </a>
                    </div>
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/ong-huynh-duc-hung-quan-binh-tan-247.html">
                            <img  src="~/Themes/easyweb/images/sanpham/kh1423_500x500.jpg" alt="ÔNG HUỲNH ĐỨC HƯNG - QUẬN BÌNH TÂN">
                            <h3 class="m-0">ÔNG HUỲNH ĐỨC HƯNG - QUẬN BÌNH TÂN</h3>
                            <p>Căn nhà tôi tại số 54/11 Đường Liên Khu 10-11 Bình Tân, do nhu cầu mở rộng công năng sử dụng nên tôi quyết...</p>
                        </a>
                    </div>
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/co-lieu-long-an-189.html">
                            <img  src="~/Themes/easyweb/images/sanpham/c28198_500x500.jpg" alt="CÔ LIỄU LONG AN">
                            <h3 class="m-0">CÔ LIỄU LONG AN</h3>
                            <p>Tìm công ty xây dựng- Tôi cần tìm công ty xây dựng để xây nhà nhưng chưa biết tìm được công ty xây dựng...</p>
                        </a>
                    </div>
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/chi-ngoc-giau-quan-binh-tan-188.html">
                            <img  src="~/Themes/easyweb/images/sanpham/chi-lieu8783_500x500.jpg" alt="CHỊ NGỌC GIÀU QUẬN BÌNH TÂN">
                            <h3 class="m-0">CHỊ NGỌC GIÀU QUẬN BÌNH TÂN</h3>
                            <p>Xây nhà quận Bình Tân: Tôi xây nhà tại địa chỉ: 173/11/18 Lê Đình Cẩn, Phường Tân Tạo, Quận Bình Tân,Tp...</p>
                        </a>
                    </div>
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/cong-ty-tnhh-dich-vu-nhua-tan-hiep-hung-187.html">
                            <img  src="~/Themes/easyweb/images/sanpham/thh0264_500x500.jpg" alt="CÔNG TY TNHH - DỊCH VỤ NHỰA - TÂN HIỆP HƯNG ">
                            <h3 class="m-0">CÔNG TY TNHH - DỊCH VỤ NHỰA - TÂN HIỆP HƯNG </h3>
                            <p>Khi có nhu cầu sửa chữa lại văn phòng làm việc tại số 909 đường 3/2. Tôi đã tìm kím trên mạng một số...</p>
                        </a>
                    </div>
                    <div class="item_ykienkhachhang">
                        <a href="y-kien-khach-hang/ong-dang-quan-quan-tan-phu-186.html">
                            <img  src="~/Themes/easyweb/images/sanpham/sua-49456_500x500.jpg" alt="ÔNG ĐẶNG QUÂN QUẬN TÂN PHÚ">
                            <h3 class="m-0">ÔNG ĐẶNG QUÂN QUẬN TÂN PHÚ</h3>
                            <p>Khi Gđ tôi mua căn nhà tại số 144/2/1 Đường Lê Trọng Tấn do căn nhà này đã quá xuống cấp và không đủ...</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="title_m"><a href="video.html">VIDEO CLIP</a></div>
                <div class="video_drag_down">
                    <div class="video-container video_custom">
                        <iframe src="//www.youtube.com/embed/-u0adYuYo4s?rel=0" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="box_video_chon">
                        <div class="select-wrapper">
                            <input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-0e533857-459a-d6b2-89c4-4ac27f014b5d"><ul id="select-options-0e533857-459a-d6b2-89c4-4ac27f014b5d" class="dropdown-content select-dropdown" tabindex="0"><li class="disabled selected" id="select-options-0e533857-459a-d6b2-89c4-4ac27f014b5d0" tabindex="0"><span>Chọn video</span></li><li id="select-options-0e533857-459a-d6b2-89c4-4ac27f014b5d1" tabindex="0"><img alt="" src="//img.youtube.com/vi/-u0adYuYo4s/0.jpg"><span>HÌNH ẢNH THI CÔNG XÂY DỰNG THỰC TẾ</span></li><li id="select-options-0e533857-459a-d6b2-89c4-4ac27f014b5d2" tabindex="0"><img alt="" src="//img.youtube.com/vi/GBo0t7ohQQE/0.jpg"><span>MẪU NHÀ ĐẸP </span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="//www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select id="chon_video" class="icons" style="display: none !important" tabindex="-1">
                                <option value="" disabled="" selected="">Chọn video</option>
                                <option value="-u0adYuYo4s" data-icon="//img.youtube.com/vi/-u0adYuYo4s/0.jpg">HÌNH ẢNH THI CÔNG XÂY DỰNG THỰC TẾ</option>
                                <option value="GBo0t7ohQQE" data-icon="//img.youtube.com/vi/GBo0t7ohQQE/0.jpg">MẪU NHÀ ĐẸP </option>
                            </select>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#chon_video').change(function () {
                                    var src = '//www.youtube.com/embed/' + $(this).val();
                                    $('.video_custom iframe').attr('src', src);
                                });
                            });
                        </script>
                        <script>
                            $(document).ready(function () {
                                $('#chon_video').formSelect();
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>