
<div class="intro_thietke">
    <div class="container">
        <div class="title_f"><a href="intro-dich-vu-xay-dung.html">QUY TRÌNH XÂY DỰNG</a></div>
        <div class="desc_kientruc clearfix">
            <p>Tr&ecirc;n đ&acirc;y l&agrave; quy tr&igrave;nh x&acirc;y dựng nh&agrave; chuy&ecirc;n nghiệp, hiệu quả v&agrave; chất lượng cao nhất của Gia Long ch&uacute;ng t&ocirc;i đ&atilde; giới thiệu tới bạn đọc v&agrave; Qu&yacute; kh&aacute;ch h&agrave;ng c&ugrave;ng tham khảo.&nbsp;</p>
        </div>
        <a href="intro-dich-vu-xay-dung.html" class="xemthem">Xem thêm _</a>
    </div>
</div>
<div class="group_three">
    <div class="container">
        <div class="group_three1">
            <div class="group_three2">
                <div class="title_m"><a href="du-an-da-hoan-thanh.html">công trình tiêu biểu</a></div>
                <div class="group_slick_congtrinh">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.slick_congtrinh').slick({
                                infinite: true,
                                accessibility: false,
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 3000,
                                speed: 1000,
                                arrows: false,
                                centerMode: false,
                                dots: false,
                                draggable: true,
                                pauseOnHover: true,
                                vertical: true
                            });
                        });
                    </script>
                    <div class="slick_congtrinh">
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-tron-goi-quan-tan-binh-313.html">
                                <img  src="~/Themes/easyweb/images/sanpham/pc-anh-lam3766_500x500.jpg" alt="XÂY DỰNG NHÀ TRỌN GÓI QUẬN TÂN BÌNH">
                                <h3 class="m-0">XÂY DỰNG NHÀ TRỌN GÓI QUẬN TÂN BÌNH</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/sua-chua-nha-quan-binh-thanh-312.html">
                                <img  src="~/Themes/easyweb/images/sanpham/scn10150515_500x500.jpg" alt="SỬA CHỮA NHÀ QUẬN BÌNH THẠNH">
                                <h3 class="m-0">SỬA CHỮA NHÀ QUẬN BÌNH THẠNH</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-sua-chua-nha-quan-1-311.html">
                                <img  src="~/Themes/easyweb/images/sanpham/scn1491391_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA NHÀ QUẬN 1">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA NHÀ QUẬN 1</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-xay-dung-nha-o-quan-tan-binh-310.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl1279637_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ Ở QUẬN TÂN BÌNH ">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ Ở QUẬN TÂN BÌNH </h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-sua-chua-nha-tai-quan-7-309.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sua-nha-129559_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA NHÀ TẠI QUẬN 7">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA NHÀ TẠI QUẬN 7</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/sua-chua-can-ho-mini-quan-10-307.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sua-nha-q10186594_500x500.jpg" alt="SỬA CHỮA CĂN HỘ MINI QUẬN 10">
                                <h3 class="m-0">SỬA CHỮA CĂN HỘ MINI QUẬN 10</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/thi-cong-xay-dung-nha-tron-goi-quan-6-306.html">
                                <img  src="~/Themes/easyweb/images/sanpham/nq625471_500x500.jpg" alt="THI CÔNG XÂY DỰNG NHÀ TRỌN GÓI QUẬN 6">
                                <h3 class="m-0">THI CÔNG XÂY DỰNG NHÀ TRỌN GÓI QUẬN 6</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-phan-tho-tai-quan-12-305.html">
                                <img  src="~/Themes/easyweb/images/sanpham/nq1278404_500x500.jpg" alt="XÂY DỰNG NHÀ PHẦN THÔ TẠI QUẬN 12">
                                <h3 class="m-0">XÂY DỰNG NHÀ PHẦN THÔ TẠI QUẬN 12</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-tai-quan-8-299.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl987124_500x500.jpg" alt="XÂY DỰNG NHÀ TẠI QUẬN 8">
                                <h3 class="m-0">XÂY DỰNG NHÀ TẠI QUẬN 8</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/sua-chua-nha-nang-tang-quan-11-298.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn322001_500x500.jpg" alt="SỬA CHỮA NHÀ NÂNG TẦNG QUẬN 11">
                                <h3 class="m-0">SỬA CHỮA NHÀ NÂNG TẦNG QUẬN 11</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-tai-quan-tan-phu-295.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl799859_500x500.jpg" alt="XÂY DỰNG NHÀ TẠI QUẬN TÂN PHÚ">
                                <h3 class="m-0">XÂY DỰNG NHÀ TẠI QUẬN TÂN PHÚ</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-pho-293.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl440964_500x500.jpg" alt="XÂY DỰNG NHÀ PHỐ">
                                <h3 class="m-0">XÂY DỰNG NHÀ PHỐ</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-tai-quan-2-292.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl409755_500x500.jpg" alt="XÂY DỰNG NHÀ TẠI QUẬN 2">
                                <h3 class="m-0">XÂY DỰNG NHÀ TẠI QUẬN 2</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-nha-tron-goi-quan-tan-phu-cdt-anh-nhan-264.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl70726_500x500.jpg" alt="XÂY NHÀ TRỌN GÓI QUẬN TÂN PHÚ - CĐT - ANH NHÂN">
                                <h3 class="m-0">XÂY NHÀ TRỌN GÓI QUẬN TÂN PHÚ - CĐT - ANH NHÂN</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/sua-chua-nha-anh-hung-quan-binh-tan-258.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn73757_500x500.jpg" alt="SỬA CHỮA NHÀ ANH HƯNG QUẬN BÌNH TÂN">
                                <h3 class="m-0">SỬA CHỮA NHÀ ANH HƯNG QUẬN BÌNH TÂN</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-xay-dung-nha-tai-long-an-212.html">
                                <img  src="~/Themes/easyweb/images/sanpham/la2375_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ TẠI LONG AN ">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ TẠI LONG AN </h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-quan-12-cdt-co-nguyet-205.html">
                                <img  src="~/Themes/easyweb/images/sanpham/xay-nha-q-12-39516_500x500.jpg" alt="XÂY DỰNG NHÀ QUẬN 12 - CĐT - CÔ NGUYỆT">
                                <h3 class="m-0">XÂY DỰNG NHÀ QUẬN 12 - CĐT - CÔ NGUYỆT</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-xay-dung-nha-tai-quan-12-183.html">
                                <img  src="~/Themes/easyweb/images/sanpham/np158772_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN 12">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN 12</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/dich-vu-xay-dung-nha-tai-quan-go-vap-182.html">
                                <img  src="~/Themes/easyweb/images/sanpham/xay-nha-q-12-48782_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN GÒ VẤP">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN GÒ VẤP</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="du-an-da-hoan-thanh/xay-dung-nha-tai-quan-binh-tan-175.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl-16962_500x500.jpg" alt="XÂY DỰNG NHÀ TẠI QUẬN BÌNH TÂN ">
                                <h3 class="m-0">XÂY DỰNG NHÀ TẠI QUẬN BÌNH TÂN </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_three3">
                <div class="title_m">bài viết được quan tâm</div>
                <div id="baivietquantam">
                    <div class="group_baivietquantam list">
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-nha-tron-goi-gia-long-bao-gia-xay-dung-nha-o-tron-goi-moi-nhat-321.html">
                                <img  src="~/Themes/easyweb/images/sanpham/pasted-image-0-(1)3444_500x500.jpg" alt="XÂY DỰNG NHÀ TRỌN GÓI GIA LONG - BÁO GIÁ XÂY DỰNG NHÀ Ở TRỌN GÓI MỚI NHẤT">
                                <h3 class="m-0">XÂY DỰNG NHÀ TRỌN GÓI GIA LONG - BÁO GIÁ XÂY DỰNG NHÀ Ở TRỌN GÓI MỚI NHẤT</h3>
                                <p>Bạn đang có ý định xây nhà đóng gói nhưng chưa biết quy trình xây...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/nha-thau-xay-nha-uy-tin-159.html">
                                <img  src="~/Themes/easyweb/images/sanpham/tai-ve-ps51210_500x500.jpg" alt="NHÀ THẦU XÂY NHÀ UY TÍN">
                                <h3 class="m-0">NHÀ THẦU XÂY NHÀ UY TÍN</h3>
                                <p>Bạn đang có dự định xây nhà và bạn muốn tìm kiếm nhà thầu xây...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cach-tinh-chi-phi-xay-dung-nha-o-theo-met-vuong-346.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl148879_500x500.jpg" alt="CÁCH TÍNH CHI PHÍ XÂY DỰNG NHÀ Ở THEO MÉT VUÔNG">
                                <h3 class="m-0">CÁCH TÍNH CHI PHÍ XÂY DỰNG NHÀ Ở THEO MÉT VUÔNG</h3>
                                <p>Cách tính chi phí xây dựng nhà ở - Công ty Xây Dựng Gia Long sẽ hướng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-nha-tai-binh-duong-289.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl127216_500x500.jpg" alt="CÔNG TY XÂY NHÀ TẠI BÌNH DƯƠNG">
                                <h3 class="m-0">CÔNG TY XÂY NHÀ TẠI BÌNH DƯƠNG</h3>
                                <p>Công ty xây nhà tại Bình Dương Gia Long đáp ứng nhu cầu của người...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/nha-thau-xay-dung-chuyen-nghiep-gia-long-345.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-50-(1)0948_500x500.png" alt="NHÀ THẦU XÂY DỰNG CHUYÊN NGHIỆP GIA LONG">
                                <h3 class="m-0">NHÀ THẦU XÂY DỰNG CHUYÊN NGHIỆP GIA LONG</h3>
                                <p>Nhà thầu xây dựng chuyên nghiệp Gia Long: Là đơn vị thi công - thiết...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-nha-ong-co-gara-xe-240.html">
                                <img  src="~/Themes/easyweb/images/sanpham/np-gr14454_500x500.jpg" alt="THIẾT KẾ NHÀ ỐNG CÓ GARA XE">
                                <h3 class="m-0">THIẾT KẾ NHÀ ỐNG CÓ GARA XE</h3>
                                <p>Thiết kế nhà ống có gara xe như thế nào để đảm bảo hợp lý...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-co-tang-ham-261.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-th7030_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ CÓ TẦNG HẦM">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ CÓ TẦNG HẦM</h3>
                                <p>Theo nhu cầu cuộc sống và cũng như nhu cầu sử dụng hiện nay những...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/nha-thau-xay-dung-nha-tai-tphcm-uy-tin-top-dau-339.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl16-(1)2359_500x500.jpg" alt="NHÀ THẦU XÂY DỰNG NHÀ TẠI TPHCM UY TÍN TOP ĐẦU">
                                <h3 class="m-0">NHÀ THẦU XÂY DỰNG NHÀ TẠI TPHCM UY TÍN TOP ĐẦU</h3>
                                <p>Nhà thầu xây dựng nhà uy tín tại phcm. CÔNG TY TNHH THƯƠNG MẠI THIẾT...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-kieu-hien-dai-257.html">
                                <img  src="~/Themes/easyweb/images/sanpham/p402091_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ KIỂU HIỆN ĐẠI">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ KIỂU HIỆN ĐẠI</h3>
                                <p>Khi quý khách có nhu cầu thiết kế biệt thự kiểu hiện đại cần...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/gia-xay-nha-biet-thu-198.html">
                                <img  src="~/Themes/easyweb/images/sanpham/btca4062_500x500.jpg" alt="GIÁ XÂY NHÀ BIỆT THỰ">
                                <h3 class="m-0">GIÁ XÂY NHÀ BIỆT THỰ</h3>
                                <p>Giá xây nhà biệt thự cổ điển châu Âu là bao nhiêu? Ngôi nhà mang...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-dung-nha-uy-tin-tai-tphcm-327.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl14-(1)8951_500x500.jpg" alt="Công ty xây dựng nhà uy tín tại tphcm">
                                <h3 class="m-0">Công ty xây dựng nhà uy tín tại tphcm</h3>
                                <p>Công ty xây dựng nhà uy tín tại tphcm - Là danh sách các công ty xây...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-co-ho-boi-253.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-hb45298_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ CÓ HỒ BƠI">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ CÓ HỒ BƠI</h3>
                                <p>Trong các thiết kế biệt thự. Thiết kế biệt thự có hồ bơi là...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-chuyen-xay-nha-biet-thu-163.html">
                                <img  src="~/Themes/easyweb/images/sanpham/tai-ve-ps74573_500x500.jpg" alt="CÔNG TY CHUYÊN XÂY NHÀ BIỆT THỰ">
                                <h3 class="m-0">CÔNG TY CHUYÊN XÂY NHÀ BIỆT THỰ</h3>
                                <p>Bạn có dự định xây cho mình một ngôi biệt thự, hãy cùng Gia Long...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-dung-hoan-thien-can-ho-286.html">
                                <img  src="~/Themes/easyweb/images/sanpham/ntpb51471_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG HOÀN THIỆN CĂN HỘ">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG HOÀN THIỆN CĂN HỘ</h3>
                                <p>Công ty Gia Long cung cấp dịch vụ xây dựng hoàn thiện căn hộ sẽ...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-kieu-nhat-ban-233.html">
                                <img  src="~/Themes/easyweb/images/sanpham/nb79694_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ KIỂU NHẬT BẢN">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ KIỂU NHẬT BẢN</h3>
                                <p>Thiết kế biệt thự kiểu Nhật Bản một phong cách thiết kế vô...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-nha-tron-goi-279.html">
                                <img  src="~/Themes/easyweb/images/sanpham/s130016_500x500.jpg" alt="DỊCH VỤ SỬA NHÀ TRỌN GÓI">
                                <h3 class="m-0">DỊCH VỤ SỬA NHÀ TRỌN GÓI</h3>
                                <p>Dịch vụ sửa nhà trọn gói của Gia Long sẽ tính toán phương pháp...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/mau-thiet-ke-nha-dep-nhat-hien-nay-244.html">
                                <img  src="~/Themes/easyweb/images/sanpham/2-mat-tien23823_500x500.jpg" alt="MẪU THIẾT KẾ NHÀ ĐẸP NHẤT HIỆN NAY">
                                <h3 class="m-0">MẪU THIẾT KẾ NHÀ ĐẸP NHẤT HIỆN NAY</h3>
                                <p>Một vài mẫu thiết kế nhà đẹp nhất hiện nay sẽ được giới...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/gia-xay-nha-phan-tho-290.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl254914_500x500.jpg" alt="GIÁ XÂY NHÀ PHẦN THÔ">
                                <h3 class="m-0">GIÁ XÂY NHÀ PHẦN THÔ</h3>
                                <p>Công ty xây dựng Gia Long với kinh nghiệm nhiều năm, nhận báo giá...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-chua-cai-tao-nha-cu-280.html">
                                <img  src="~/Themes/easyweb/images/sanpham/quan109452_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA CẢI TẠO NHÀ CŨ">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA CẢI TẠO NHÀ CŨ</h3>
                                <p>Gia long cung cấp dịch vụ sửa chữa cải tạo nhà cũ cho rất nhiều...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/sua-chua-nha-nang-them-tang-171.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn163795_500x500.jpg" alt="SỬA CHỮA NHÀ NÂNG THÊM TẦNG">
                                <h3 class="m-0">SỬA CHỮA NHÀ NÂNG THÊM TẦNG</h3>
                                <p>Sửa chữa nhà nâng thêm tầng của công ty xây dựng Gia Long hiện đang...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-nha-co-gara-xe-256.html">
                                <img  src="~/Themes/easyweb/images/sanpham/n-gara18203_500x500.jpg" alt="XÂY DỰNG NHÀ CÓ GARA XE">
                                <h3 class="m-0">XÂY DỰNG NHÀ CÓ GARA XE</h3>
                                <p>Xây dựng nhà có gara xe phải đảm bảo cho sự an toàn ở mức tối...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-tan-co-dien-238.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa407052_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ TÂN CỔ ĐIỂN">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ TÂN CỔ ĐIỂN</h3>
                                <p>Có rất nhiều phong cách để thiết kế biệt thự đẹp trong đó phong...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-biet-thu-co-ho-boi-267.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-hb111551_500x500.jpg" alt="XÂY DỰNG BIỆT THỰ CÓ HỒ BƠI">
                                <h3 class="m-0">XÂY DỰNG BIỆT THỰ CÓ HỒ BƠI</h3>
                                <p>Xây dựng biệt thự có hồ bơi hiện nay là một trong những nhu cầu...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-don-lap-246.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-dl3021_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ ĐƠN LẬP ">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ ĐƠN LẬP </h3>
                                <p>Biệt thự đơn lập một trong những loại hình biệt thự sang trọng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/bang-gia-sua-chua-nha-tai-tphcm-287.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sua-nha51728_500x500.jpg" alt="BẢNG GIÁ SỬA CHỮA NHÀ TẠI TPHCM">
                                <h3 class="m-0">BẢNG GIÁ SỬA CHỮA NHÀ TẠI TPHCM</h3>
                                <p>Sửa chữa nhà tại tp HCM đang rất phát triển, nhiều công ty hoạt...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-nha-pho-co-tang-ham-241.html">
                                <img  src="~/Themes/easyweb/images/sanpham/tang-ham-13984_500x500.jpg" alt="XÂY DỰNG NHÀ PHỐ CÓ TẦNG HẦM">
                                <h3 class="m-0">XÂY DỰNG NHÀ PHỐ CÓ TẦNG HẦM</h3>
                                <p>Xây dựng nhà phố có tầng hầm đem đến những ưu điểm nổi bật...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/gia-long-cong-ty-xay-dung-nha-phan-tho-uy-tin-tai-tphcm-320.html">
                                <img  src="~/Themes/easyweb/images/sanpham/xnla34487_500x500.jpg" alt="GIA LONG - CÔNG TY XÂY DỰNG NHÀ PHẦN THÔ UY TÍN TẠI TPHCM">
                                <h3 class="m-0">GIA LONG - CÔNG TY XÂY DỰNG NHÀ PHẦN THÔ UY TÍN TẠI TPHCM</h3>
                                <p>Gia Long - Công ty xây dựng nhà phần thô tại TPHCM là nơi thực sự...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/cac-mau-thiet-ke-nha-2-tang-dep-165.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa157450_500x500.jpg" alt="CÁC MẪU THIẾT KẾ NHÀ 2 TẦNG ĐẸP">
                                <h3 class="m-0">CÁC MẪU THIẾT KẾ NHÀ 2 TẦNG ĐẸP</h3>
                                <p>Các mẫu thiết kế nhà 2 tầng đẹp tại công ty xây dựng Gia Long...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-nha-tron-goi-gia-re-184.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt50453_500x500.jpg" alt="XÂY NHÀ TRỌN GÓI GIÁ RẺ">
                                <h3 class="m-0">XÂY NHÀ TRỌN GÓI GIÁ RẺ</h3>
                                <p>Dịch vụ xây nhà trọn gói giá rẻ của công ty Gia Long, giúp cho quý...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-dep-259.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-th42691_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ ĐẸP">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ ĐẸP</h3>
                                <p>Biệt thự là công trình kiến trúc thể hiện sự quy mô hoành tráng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-chua-nha-chung-cu-284.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sccc7758_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA NHÀ CHUNG CƯ">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA NHÀ CHUNG CƯ</h3>
                                <p>Bạn đang có nhu cầu tìm kiếm một đơn vị cung cấp dịch vụ sửa...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/thau-xay-dung-nha-o-gia-dinh-uy-tin-gia-long-344.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-hb2-(1)2490_500x500.jpg" alt="THẦU XÂY DỰNG NHÀ Ở GIA ĐÌNH UY TÍN GIA LONG">
                                <h3 class="m-0">THẦU XÂY DỰNG NHÀ Ở GIA ĐÌNH UY TÍN GIA LONG</h3>
                                <p>Nhà thầu xây dựng nhà ở gia đình uy tín Gia Long. Với nhiều năm...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/tu-van-thi-cong-xay-dung-nha-tron-goi-329.html">
                                <img  src="~/Themes/easyweb/images/sanpham/biet-thu-la-71749_500x500.jpg" alt="TƯ VẤN THI CÔNG XÂY DỰNG NHÀ TRỌN GÓI">
                                <h3 class="m-0">TƯ VẤN THI CÔNG XÂY DỰNG NHÀ TRỌN GÓI</h3>
                                <p>Tư vấn thi công xây dựng nhà trọn gói 2021. Bạn đang muốn xây cho...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/sua-nha-dep-uy-tin-chat-luong-176.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn183007_500x500.jpg" alt="SỬA NHÀ ĐẸP UY TÍN CHẤT LƯỢNG">
                                <h3 class="m-0">SỬA NHÀ ĐẸP UY TÍN CHẤT LƯỢNG</h3>
                                <p>Sửa nhà đẹp uy tín chất lượng là điều ai cũng mong muốn khi muốn...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-dung-nha-uy-tin-nhat-hien-nay-o-tphcm-338.html">
                                <img  src="~/Themes/easyweb/images/sanpham/untitled4916_500x500.png" alt="CÔNG TY XÂY DỰNG NHÀ UY TIN NHẤT HIỆN NAY Ở TPHCM">
                                <h3 class="m-0">CÔNG TY XÂY DỰNG NHÀ UY TIN NHẤT HIỆN NAY Ở TPHCM</h3>
                                <p>Công ty TNHH TM THIẾT KẾ ĐẦU TƯ XÂY DỰNG GIA LONG được đánh giá...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cac-mau-nha-pho-co-tang-ham-210.html">
                                <img  src="~/Themes/easyweb/images/sanpham/tang-ham104829_500x500.jpg" alt="CÁC MẪU NHÀ PHỐ CÓ TẦNG HẦM">
                                <h3 class="m-0">CÁC MẪU NHÀ PHỐ CÓ TẦNG HẦM</h3>
                                <p>Các mẫu nhà phố có tầng hầm có lẽ không còn xa lạ với kiến...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/dich-vu-thiet-ke-xay-dung-tai-tp-hcm-161.html">
                                <img  src="~/Themes/easyweb/images/sanpham/ps98053_500x500.jpg" alt="DỊCH VỤ THIẾT KẾ XÂY DỰNG TẠI TP HCM">
                                <h3 class="m-0">DỊCH VỤ THIẾT KẾ XÂY DỰNG TẠI TP HCM</h3>
                                <p>Hiện tại bạn đang có nhu cầu sử dụng dịch vụ thiết kế xây...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cac-mau-nha-pho-co-thang-may-211.html">
                                <img  src="~/Themes/easyweb/images/sanpham/thang-may-30037_500x500.jpg" alt="CÁC MẪU NHÀ PHỐ CÓ THANG MÁY">
                                <h3 class="m-0">CÁC MẪU NHÀ PHỐ CÓ THANG MÁY</h3>
                                <p>Những mẫu nhà phố có thang máy có những tiện lợi gì? Việc thi...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-biet-thu-2-mat-tien-268.html">
                                <img  src="~/Themes/easyweb/images/sanpham/fb_img_15807982800473365_500x500.jpg" alt="XÂY DỰNG BIỆT THỰ 2 MẶT TIỀN">
                                <h3 class="m-0">XÂY DỰNG BIỆT THỰ 2 MẶT TIỀN</h3>
                                <p>Xây dựng biệt thự 2 mặt tiền hiện đại đang rất được ưa chuộng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/thi-cong-xay-dung-nha-ong-dep-269.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl-13219_500x500.jpg" alt="THI CÔNG XÂY DỰNG NHÀ ỐNG ĐẸP">
                                <h3 class="m-0">THI CÔNG XÂY DỰNG NHÀ ỐNG ĐẸP</h3>
                                <p>Thi công xây dựng nhà ống đẹp đáp ứng được nhu cầu công năng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-nha-tron-goi-gia-re-156.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa122882_500x500.jpg" alt="CÔNG TY XÂY NHÀ TRỌN GÓI GIÁ RẺ">
                                <h3 class="m-0">CÔNG TY XÂY NHÀ TRỌN GÓI GIÁ RẺ</h3>
                                <p>Các công ty xây nhà trọn gói giá rẻ sẽ mang đến cho bạn những...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-nha-tai-long-an-288.html">
                                <img  src="~/Themes/easyweb/images/sanpham/la5460_500x500.jpg" alt="CÔNG TY XÂY NHÀ TẠI LONG AN">
                                <h3 class="m-0">CÔNG TY XÂY NHÀ TẠI LONG AN</h3>
                                <p>Xây dựng Gia Long là Công ty chuyên xây nhà tại Long An sẽ tư vấn...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/cong-ty-tu-van-thiet-ke-xay-dung-164.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt47815_500x500.jpg" alt="CÔNG TY TƯ VẤN THIẾT KẾ XÂY DỰNG ">
                                <h3 class="m-0">CÔNG TY TƯ VẤN THIẾT KẾ XÂY DỰNG </h3>
                                <p>Công ty tư vấn thiết kế xây dựng tại TP HCM đang là một ngành nghề...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/nha-thau-xay-dung-chuyen-nghiep-gia-long-328.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-684646_500x500.png" alt="NHÀ THẦU XÂY DỰNG CHUYÊN NGHIỆP GIA LONG">
                                <h3 class="m-0">NHÀ THẦU XÂY DỰNG CHUYÊN NGHIỆP GIA LONG</h3>
                                <p>Nhà thầu xây dựng chuyên nghiệp Gia Long, chuyên nghiệp uy tín giá...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/don-gia-sua-chua-nha-285.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn1184213_500x500.jpg" alt="ĐƠN GIÁ SỬA CHỮA NHÀ">
                                <h3 class="m-0">ĐƠN GIÁ SỬA CHỮA NHÀ</h3>
                                <p>Công ty xây dựng Gia Long với nhiều năm kinh nghiệm trong lĩnh vực...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-co-dien-242.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-cd2861_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ CỔ ĐIỂN">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ CỔ ĐIỂN</h3>
                                <p>Thiết kế biệt thự cổ điển có điểm gì đặc sắc và khác lạ?...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-nha-tron-goi-la-gi-bang-bao-gia-xay-dung-hien-nay-bien-dong-nhu-the-nao-319.html">
                                <img  src="~/Themes/easyweb/images/sanpham/pasted-image-07787_500x500.jpg" alt="XÂY DỰNG NHÀ TRỌN GÓI LÀ GÌ? BẢNG BÁO GIÁ XÂY DỰNG HIỆN NAY BIẾN ĐỘNG NHƯ THẾ NÀO?">
                                <h3 class="m-0">XÂY DỰNG NHÀ TRỌN GÓI LÀ GÌ? BẢNG BÁO GIÁ XÂY DỰNG HIỆN NAY BIẾN ĐỘNG NHƯ THẾ NÀO?</h3>
                                <p>Bạn đã hiểu rõ về dịch vụ xây nhà trọn gói và bảng báo giá...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-chua-nha-quan-2-301.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn318723_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA NHÀ QUẬN 2">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA NHÀ QUẬN 2</h3>
                                <p>Hiện tại bạn đang sinh sống tại tpHCM và cụ thể là tại quận...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-nha-tron-goi-283.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-27625_500x500.jpg" alt="DỊCH VỤ XÂY NHÀ TRỌN GÓI">
                                <h3 class="m-0">DỊCH VỤ XÂY NHÀ TRỌN GÓI</h3>
                                <p>Dịch vụ xây nhà trọn gói có nên sử dụng hay không? Ưu điểm cũng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-nha-biet-thu-dep-196.html">
                                <img  src="~/Themes/easyweb/images/sanpham/p102379_500x500.jpg" alt="XÂY NHÀ BIỆT THỰ ĐẸP">
                                <h3 class="m-0">XÂY NHÀ BIỆT THỰ ĐẸP</h3>
                                <p>Bên cạnh tìm hiểu về phong cách, các gia đình có nhu cầu cũng phải...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-dung-nha-dep-185.html">
                                <img  src="~/Themes/easyweb/images/sanpham/p309163_500x500.jpg" alt="CÔNG TY XÂY DỰNG NHÀ ĐẸP">
                                <h3 class="m-0">CÔNG TY XÂY DỰNG NHÀ ĐẸP</h3>
                                <p>Công ty xây dựng nhà đẹp Gia Long là một trong những đơn vị có...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-chua-nha-quan-1-294.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn200454_500x500.jpg" alt="DỊCH VỤ SỬA CHỮA NHÀ QUẬN 1">
                                <h3 class="m-0">DỊCH VỤ SỬA CHỮA NHÀ QUẬN 1</h3>
                                <p>Việc lựa chọn sự hỗ trợ của dịch vụ sửa nhà Quận 1 để khắc...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/noi-that-can-ho-223.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt10233_500x500.jpg" alt="NỘI THẤT CĂN HỘ">
                                <h3 class="m-0">NỘI THẤT CĂN HỘ</h3>
                                <p>Nội thất căn hộ là luôn là mối quan tâm hàng đầu khi chúng ta trang...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-kieu-phap-260.html">
                                <img  src="~/Themes/easyweb/images/sanpham/p199588_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ KIỂU PHÁP">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ KIỂU PHÁP</h3>
                                <p>Thiết kế biệt thự kiểu Pháp mang đến một không gian sống cầu...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/bao-gia-xay-dung-phan-tho-2021-ban-da-biet-chua-343.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-443586_500x500.png" alt="BÁO GIÁ XÂY DỰNG PHẦN THÔ 2021 BẠN ĐÃ BIẾT CHƯA?">
                                <h3 class="m-0">BÁO GIÁ XÂY DỰNG PHẦN THÔ 2021 BẠN ĐÃ BIẾT CHƯA?</h3>
                                <p>Công ty Gia Long báo giá xây dựng phần thô năm 2021 rất cụ thể và...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/thau-xay-dung-nha-o-gia-dinh-uy-tin-gia-long-325.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-hb20395_500x500.jpg" alt="THẦU XÂY DỰNG NHÀ Ở GIA ĐÌNH UY TÍN GIA LONG">
                                <h3 class="m-0">THẦU XÂY DỰNG NHÀ Ở GIA ĐÌNH UY TÍN GIA LONG</h3>
                                <p>Nhà thầu xây dựng nhà ở gia đình uy tín Gia Long. Là đơn vị thi...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-dung-nha-mai-thai-266.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl68470_500x500.jpg" alt="XÂY DỰNG NHÀ MÁI THÁI">
                                <h3 class="m-0">XÂY DỰNG NHÀ MÁI THÁI</h3>
                                <p>Bạn đang có nhu cầu tìm kiếm đơn vị thi công xây dựng nhà mái...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-nha-tron-goi-gia-re-uy-tin-314.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-484103_500x500.png" alt="DỊCH VỤ XÂY NHÀ TRỌN GÓI GIÁ RẺ UY TÍN">
                                <h3 class="m-0">DỊCH VỤ XÂY NHÀ TRỌN GÓI GIÁ RẺ UY TÍN</h3>
                                <p>Nếu bạn đang muốn tìm một gói dịch vụ xây nhà trọn gói giá rẻ...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/dich-vu-thiet-ke-nha-dep-150.html">
                                <img  src="~/Themes/easyweb/images/sanpham/ps776914_500x500.jpg" alt="DỊCH VỤ THIẾT KẾ NHÀ ĐẸP">
                                <h3 class="m-0">DỊCH VỤ THIẾT KẾ NHÀ ĐẸP</h3>
                                <p>Dịch vụ thiết kế nhà đẹp giúp khách hàng hiện thực hóa ý tưởng...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-dung-nha-tai-thanh-pho-ho-chi-minh-158.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa247637_500x500.jpg" alt="CÔNG TY XÂY DỰNG NHÀ TẠI THÀNH PHỐ HỒ CHÍ MINH">
                                <h3 class="m-0">CÔNG TY XÂY DỰNG NHÀ TẠI THÀNH PHỐ HỒ CHÍ MINH</h3>
                                <p> Gia Long , công ty xây dựng nhà tại thành phố Hồ Chí Minh với sự...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-nha-mai-thai-dep-162.html">
                                <img  src="~/Themes/easyweb/images/sanpham/ps292974_500x500.jpg" alt="THIẾT KẾ NHÀ MÁI THÁI ĐẸP">
                                <h3 class="m-0">THIẾT KẾ NHÀ MÁI THÁI ĐẸP</h3>
                                <p>Thiết kế nhà mái thái đẹp tạo ra không gian sống đẹp cho ngôi...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/tieu-chi-lua-chon-cong-ty-xay-dung-nha-o-323.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa351703_500x500.jpg" alt="TIÊU CHÍ LỰA CHỌN CÔNG TY XÂY DỰNG NHÀ Ở">
                                <h3 class="m-0">TIÊU CHÍ LỰA CHỌN CÔNG TY XÂY DỰNG NHÀ Ở</h3>
                                <p>Hiện nay khách hàng rất khó tính việc đưa ra các tiêu chí lựa chọn...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-san-vuon-254.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-nv-46194_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ SÂN VƯỜN">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ SÂN VƯỜN</h3>
                                <p>Biệt thự sân vườn có những điểm gì nổi bật so với các loại...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/cong-ty-sua-nha-uy-tin-tai-tp-hcm-177.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa120825_500x500.jpg" alt="CÔNG TY SỬA NHÀ UY TÍN TẠI TP HCM">
                                <h3 class="m-0">CÔNG TY SỬA NHÀ UY TÍN TẠI TP HCM</h3>
                                <p>Bạn đang muốn tìm kiếm công ty sửa nhà uy tín tại TP HCM? Điều...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/dich-vu-sua-nha-cao-cap-170.html">
                                <img  src="~/Themes/easyweb/images/sanpham/ps874535_500x500.jpg" alt="DỊCH VỤ SỬA NHÀ CAO CẤP">
                                <h3 class="m-0">DỊCH VỤ SỬA NHÀ CAO CẤP</h3>
                                <p>Sửa nhà luôn là một bài toán khó và cần phải cân nhắc rất nhiều...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/xay-nha-biet-thu-theo-phong-cach-hien-dai-197.html">
                                <img  src="~/Themes/easyweb/images/sanpham/p397113_500x500.jpg" alt="XÂY NHÀ BIỆT THỰ THEO PHONG CÁCH HIỆN ĐẠI">
                                <h3 class="m-0">XÂY NHÀ BIỆT THỰ THEO PHONG CÁCH HIỆN ĐẠI</h3>
                                <p>Xây nhà biệt thự theo phong cách hiện đại được thiết kế theo...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-nha-phan-tho-chat-luong-o-tphcm-324.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-799269_500x500.png" alt="DỊCH VỤ XÂY NHÀ PHẦN THÔ CHẤT LƯỢNG Ở TPHCM">
                                <h3 class="m-0">DỊCH VỤ XÂY NHÀ PHẦN THÔ CHẤT LƯỢNG Ở TPHCM</h3>
                                <p>Dịch vụ xây nhà phần thô chất lượng ở TPHCM hiện nay được cập...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-hinh-chu-l-245.html">
                                <img  src="~/Themes/easyweb/images/sanpham/bt-cl0806_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ HÌNH CHỮ L">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ HÌNH CHỮ L</h3>
                                <p>Thiết kế biệt thự hình chữ L có đẹp không? Có nên xây nhà theo...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/cong-ty-sua-chua-nha-tp-hcm-227.html">
                                <img  src="~/Themes/easyweb/images/sanpham/sn33894_500x500.jpg" alt="CÔNG TY SỬA CHỮA NHÀ TP HCM">
                                <h3 class="m-0">CÔNG TY SỬA CHỮA NHÀ TP HCM</h3>
                                <p>Công ty Gia Long là công ty sửa chữa nhà TP HCM đi đầu tiên phong trong...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/don-gia-sua-chua-nha-uy-tin-chat-luong-173.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa366551_500x500.jpg" alt="ĐƠN GIÁ SỬA CHỮA NHÀ UY TÍN CHẤT LƯỢNG">
                                <h3 class="m-0">ĐƠN GIÁ SỬA CHỮA NHÀ UY TÍN CHẤT LƯỢNG</h3>
                                <p>Bạn đang có nhu cầu sửa chữa nhà chắc hẳn bạn không thể không...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-dung-nha-tai-quan-2-291.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl312465_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN 2">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ TẠI QUẬN 2</h3>
                                <p>Công ty Gia Long cung cấp tới quý khách hàng dịch vụ xây dựng nhà...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-nha-phan-tho-157.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl241993_500x500.jpg" alt="DỊCH VỤ XÂY NHÀ PHẦN THÔ">
                                <h3 class="m-0">DỊCH VỤ XÂY NHÀ PHẦN THÔ</h3>
                                <p>Khi chọn nhà cung cấp dịch vụ xây nhà phần thô chuyên nghiệp bạn...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/cong-ty-thiet-ke-kien-truc-149.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa147997_500x500.jpg" alt="CÔNG TY THIẾT KẾ KIẾN TRÚC">
                                <h3 class="m-0">CÔNG TY THIẾT KẾ KIẾN TRÚC</h3>
                                <p>Kiến trúc là một phần quan trọng tạo nên một ngôi nhà đẹp. Sử...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/thau-xay-dung-nha-o-uy-tin-tai-thanh-pho-ho-chi-minh-318.html">
                                <img  src="~/Themes/easyweb/images/sanpham/biet-thu-2-12787_500x500.jpg" alt="THẦU XÂY DỰNG NHÀ Ở UY TÍN TẠI THÀNH PHỐ HỒ CHÍ MINH">
                                <h3 class="m-0">THẦU XÂY DỰNG NHÀ Ở UY TÍN TẠI THÀNH PHỐ HỒ CHÍ MINH</h3>
                                <p>Bạn đang tìm một nhà thầu xây dựng nhà ở uy tín tại thành phố...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-sua-chua-nha/sua-chua-nha-chat-luong-cao-172.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa231075_500x500.jpg" alt="SỬA CHỮA NHÀ CHẤT LƯỢNG CAO ">
                                <h3 class="m-0">SỬA CHỮA NHÀ CHẤT LƯỢNG CAO </h3>
                                <p>Bạn đang cần tìm dịch vụ chuyên nhận sửa nhà chất lượng cao...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/dich-vu-xay-dung-nha-tron-goi-chat-luong-cao-160.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa390530_500x500.jpg" alt="DỊCH VỤ XÂY DỰNG NHÀ TRỌN GÓI CHẤT LƯỢNG CAO">
                                <h3 class="m-0">DỊCH VỤ XÂY DỰNG NHÀ TRỌN GÓI CHẤT LƯỢNG CAO</h3>
                                <p>Việc xây nhà trọn gói chất lượng cao đang dần là xu thế và phát...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-nha-dep-gia-re-tai-tp-hcm-243.html">
                                <img  src="~/Themes/easyweb/images/sanpham/aa224663_500x500.jpg" alt="THIẾT KẾ NHÀ ĐẸP GIÁ RẺ TẠI TP HCM">
                                <h3 class="m-0">THIẾT KẾ NHÀ ĐẸP GIÁ RẺ TẠI TP HCM</h3>
                                <p>Thiết kế nhà đẹp giá rẻ tại tp hcm cần đáp ứng những tiêu chí...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/tat-tan-tat-quy-trinh-xay-nha-tu-a-z-ban-can-biet-347.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-215958_500x500.png" alt="TẤT TẦN TẬT QUY TRÌNH XÂY NHÀ TỪ A - Z BẠN CẦN BIẾT">
                                <h3 class="m-0">TẤT TẦN TẬT QUY TRÌNH XÂY NHÀ TỪ A - Z BẠN CẦN BIẾT</h3>
                                <p>Dịch vụ xây dựng bạn cần biết để có thể xây nhà tất tần...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cong-ty-xay-dung-nha-pho-tai-thanh-pho-ho-chi-minh-155.html">
                                <img  src="~/Themes/easyweb/images/sanpham/tai-ve-ps25498_500x500.jpg" alt="CÔNG TY XÂY DỰNG NHÀ PHỐ TẠI THÀNH PHỐ HỒ CHÍ MINH">
                                <h3 class="m-0">CÔNG TY XÂY DỰNG NHÀ PHỐ TẠI THÀNH PHỐ HỒ CHÍ MINH</h3>
                                <p>Khi lựa chọn công ty xây dựng nhà phố tại thành phố Hồ Chí Minh...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/nha-thau-nao-xay-dung-nha-tron-goi-tot-nhat-322.html">
                                <img  src="~/Themes/easyweb/images/sanpham/image-1128318_500x500.png" alt="NHÀ THẦU NÀO XÂY DỰNG NHÀ TRỌN GOI TỐT NHẤT">
                                <h3 class="m-0">NHÀ THẦU NÀO XÂY DỰNG NHÀ TRỌN GOI TỐT NHẤT</h3>
                                <p>Nhà thầu nào xây dựng nhà trọn gói tốt nhất? Hãy đến với Gia...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/cac-mau-nha-3-tang-mai-bang-206.html">
                                <img  src="~/Themes/easyweb/images/sanpham/la112099_500x500.jpg" alt="CÁC MẪU NHÀ 3 TẦNG MÁI BẰNG">
                                <h3 class="m-0">CÁC MẪU NHÀ 3 TẦNG MÁI BẰNG</h3>
                                <p>Các mẫu nhà 3 tầng mái bằng đang ngày một được ưa chuộng, bởi...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="dich-vu-xay-dung/cach-nhan-biet-cong-ty-thiet-ke-xay-dung-uy-tin-342.html">
                                <img  src="~/Themes/easyweb/images/sanpham/gl11-(1)0137_500x500.jpg" alt="CÁCH NHẬN BIẾT CÔNG TY THIẾT KẾ XÂY DỰNG UY TÍN">
                                <h3 class="m-0">CÁCH NHẬN BIẾT CÔNG TY THIẾT KẾ XÂY DỰNG UY TÍN</h3>
                                <p>Bạn đang băn khoăn không biết các tiêu chí để chọn công ty thiết...</p>
                            </a>
                        </div>
                        <div class="item_baivietquantam">
                            <a href="thiet-ke-kien-truc/thiet-ke-biet-thu-song-lap-239.html">
                                <img  src="~/Themes/easyweb/images/sanpham/btsl16558_500x500.jpg" alt="THIẾT KẾ BIỆT THỰ SONG LẬP">
                                <h3 class="m-0">THIẾT KẾ BIỆT THỰ SONG LẬP</h3>
                                <p>Thiết kế biệt thự song lập cần quan tâm đến vấn đề gì. Một...</p>
                            </a>
                        </div>
                    </div>
                    <ul class="pagination paging_list"></ul>
                    <script>
                        var monkeyList = new List('baivietquantam', {
                            page: 4,
                            pagination: true
                        });
                    </script>
                </div>
            </div>
            <div class="group_three2">
                <div class="title_m"><a href="tu-van-thiet-ke.html">tư vấn thiết kế</a></div>
                <div class="group_slick_congtrinh">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.slick_congtrinh2').slick({
                                infinite: true,
                                accessibility: false,
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 3000,
                                speed: 1000,
                                arrows: false,
                                centerMode: false,
                                dots: false,
                                draggable: true,
                                pauseOnHover: true,
                                vertical: true
                            });
                        });
                    </script>
                    <div class="slick_congtrinh2">
                        <div class="border-0 d-block">
                            <a href="tu-van-thiet-ke/thiet-ke-phong-ngu-tao-su-am-ap-214.html">
                                <img  src="~/Themes/easyweb/images/sanpham/pn48878_500x500.jpg" alt="THIẾT KẾ PHÒNG NGỦ TẠO SỰ ẤM ÁP">
                                <h3 class="m-0">THIẾT KẾ PHÒNG NGỦ TẠO SỰ ẤM ÁP</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="tu-van-thiet-ke/bai-tri-phong-khach-hop-phong-thuy-207.html">
                                <img  src="~/Themes/easyweb/images/sanpham/pk-38322_500x500.jpg" alt="BÀI TRÍ PHÒNG KHÁCH HỢP PHONG THỦY">
                                <h3 class="m-0">BÀI TRÍ PHÒNG KHÁCH HỢP PHONG THỦY</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="tu-van-thiet-ke/cac-mau-thiet-ke-phong-khach-sang-trong-169.html">
                                <img  src="~/Themes/easyweb/images/sanpham/nt-245759_500x500.jpg" alt="CÁC MẪU THIẾT KẾ PHÒNG KHÁCH SANG TRỌNG">
                                <h3 class="m-0">CÁC MẪU THIẾT KẾ PHÒNG KHÁCH SANG TRỌNG</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="tu-van-thiet-ke/dich-vu-thiet-ke-noi-that-168.html">
                                <img  src="~/Themes/easyweb/images/sanpham/nt60094_500x500.jpg" alt="DỊCH VỤ THIẾT KẾ NỘI THẤT">
                                <h3 class="m-0">DỊCH VỤ THIẾT KẾ NỘI THẤT</h3>
                            </a>
                        </div>
                        <div class="border-0 d-block">
                            <a href="tu-van-thiet-ke/kinh-nghiem-thiet-ke-biet-thu-vuon-hop-phong-thuy-166.html">
                                <img  src="~/Themes/easyweb/images/sanpham/13752_500x500.jpg" alt="KINH NGHIỆM THIẾT KẾ BIỆT THỰ VƯỜN HỢP PHONG THỦY">
                                <h3 class="m-0">KINH NGHIỆM THIẾT KẾ BIỆT THỰ VƯỜN HỢP PHONG THỦY</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>