
<div class="container">
    <div class="title_f custom" style="margin-bottom: 20px;"><a href="tin-tuc.html">Tin tức mới</a></div>
    <div class="slick_tintucchay owl-carousel owl-theme">
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/gia-long-gui-loi-chuc-tet-2021-toi-quy-khach-hang-271.html">
                    <img src="~/Themes/easyweb/images/sanpham/ct-5375.jpg" alt="GIA LONG GỬI LỜI CHÚC TẾT 2021 TỚI QUÝ KHÁCH HÀNG">
                    <h3 class="m-0 catchuoi2">GIA LONG GỬI LỜI CHÚC TẾT 2021 TỚI QUÝ KHÁCH HÀNG</h3>
                    <p class="catchuoi3">Lại một mùa xuân mới tràn đầy yêu thương nữa chuẩn bị tràn về trên khắp đất nước thân yêu của chúng ta. Hòa chung niềm vui đó tập thể Công Ty Gia Long</p>
                </a>
            </div>
        </div>
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/chuong-trinh-khuyen-mai-tai-gia-long-nhan-dip-tet-canh-ty-237.html">
                    <img src="~/Themes/easyweb/images/sanpham/km-3027.jpg" alt="CHƯƠNG TRÌNH KHUYẾN MÃI TẠI GIA LONG NHÂN DỊP TẾT CANH TÝ">
                    <h3 class="m-0 catchuoi2">CHƯƠNG TRÌNH KHUYẾN MÃI TẠI GIA LONG NHÂN DỊP TẾT CANH TÝ</h3>
                    <p class="catchuoi3">Chúng tôi gửi đến quý khách hàng thân yêu chương trình khuyến mãi tri ân khách hàng trong tất cả các bảng giá xây nhà năm 2020. Hãy cùng Gia Long đón xuân Canh Tý đầy hứng khởi nhé!</p>
                </a>
            </div>
        </div>
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/cac-buoc-xay-dung-nha-o-231.html">
                    <img src="~/Themes/easyweb/images/sanpham/ps86-4312.jpg" alt="CÁC BƯỚC XÂY DỰNG NHÀ Ở">
                    <h3 class="m-0 catchuoi2">CÁC BƯỚC XÂY DỰNG NHÀ Ở</h3>
                    <p class="catchuoi3">Việc nắm rõ các bước xây dựng nhà ở giúp gia chủ không bị bối rối hoặc gặp nhiều khó khăn trong quá trình xây nhà. Bên cạnh đó là hạn chế được các sai sót không thể thay đổi được, </p>
                </a>
            </div>
        </div>
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/thiet-ke-ban-ve-dieu-quan-trong-khi-xay-dung-230.html">
                    <img src="~/Themes/easyweb/images/sanpham/thiet-ke-ban-ve-02-2665.jpg" alt="THIẾT KẾ BẢN VẼ ĐIỀU QUAN TRỌNG KHI XÂY DỰNG">
                    <h3 class="m-0 catchuoi2">THIẾT KẾ BẢN VẼ ĐIỀU QUAN TRỌNG KHI XÂY DỰNG</h3>
                    <p class="catchuoi3">Thiết kế bản vẽ là sự thể hiện các chi tiết cụ thể của một ngôi nhà. Dựa vào bản vẽ này để tiến hành xây dựng một cách chính xác và đầy đủ hơn. Hãy cùng Gia Long khám phá tầm quan trọng của thiết kế bản vẽ trong xây dựng.</p>
                </a>
            </div>
        </div>
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/gia-long-vua-cat-bang-khanh-thanh-4-du-an-trong-thang-9-191.html">
                    <img src="~/Themes/easyweb/images/sanpham/la11-0056.jpg" alt="GIA LONG VỪA CẮT BĂNG KHÁNH THÀNH 4 DỰ ÁN TRONG THÁNG 9">
                    <h3 class="m-0 catchuoi2">GIA LONG VỪA CẮT BĂNG KHÁNH THÀNH 4 DỰ ÁN TRONG THÁNG 9</h3>
                    <p class="catchuoi3">Với những nỗ lực không ngừng nghỉ của tập thể công ty Gia Long, trong tháng 9  vừa qua công ty đã cắt băng khánh thành cho 4 dự án để đưa vào sử dụng. </p>
                </a>
            </div>
        </div>
        <div class="border-0 d-block">
            <div class="item_baivietquantam w-100" style="padding-left: 0 !important">
                <a href="tin-tuc/xay-dung-nha-o-nhung-dieu-can-luu-y-228.html">
                    <img src="~/Themes/easyweb/images/sanpham/bt2-8511.jpg" alt="XÂY DỰNG NHÀ Ở NHỮNG ĐIỀU CẦN LƯU Ý">
                    <h3 class="m-0 catchuoi2">XÂY DỰNG NHÀ Ở NHỮNG ĐIỀU CẦN LƯU Ý</h3>
                    <p class="catchuoi3">Xây dựng nhà ở những điều cần lưu ý giúp gia chủ nắm rõ các yếu tố cần thiết khi xây nhà cũng như yếu tố  cần tránh để tạo nên một không gian sống hoàn hảo.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.slick_tintucchay').owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
        autoplay: true,
        responsive: {
            0: {
                items: 2, margin: 10
            },
            600: {
                items: 2, margin: 10
            },
            1000: {
                items: 4, margin: 20
            }
        }
    })
</script>
