


    <span>
        <textarea placeholder="Thêm trả lời" name="Contents" class=""></textarea>
    </span>
    <input style="border:none" type="submit" value=""  class="button send-comment" id="btnSend" />
