@model BlueDataWeb.Models.Setting
@{
    ViewBag.Title = "Giới thiệu - tanphuocthinh.com.vn";
}
 
 

<div class="container body-content">

    <div class="row">
        <div class="col-md-12 main-content">
            <div class="col-md-12 breadcumb2 hongha ">
                <span class="b-intro">Giới thiệu   </span>
            </div>
            <div class="col-md-12">
                <div style="text-align: justify;">
                    @Html.Raw(@Model.values)
                </div>
            </div>
             
        </div>

        
    </div>
</div>
 