<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        string AppName = System.Configuration.ConfigurationManager.AppSettings["AppName"].ToString();
        string AppID = System.Configuration.ConfigurationManager.AppSettings["AppID"].ToString();

    }
    <title>
        @if (ViewBag.Title != null)
        {
            @ViewBag.Title
        }
        else
        {
            @Html.Raw("Trang quản trị web " + AppName)
        }
    </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Areas/admin-lte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    <link href="~/Areas/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Areas/admin-lte/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/admin"><b>Admin</b>WEBSITE</a>
        </div>
        <!-- /.login-logo -->
        @RenderBody()

    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Areas/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Areas/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/admin-lte/js/adminlte.min.js"></script>
</body>
</html>
