@model IEnumerable<BlueDataWeb.Models.Entites.Category>
<div>
<ul class="breaum">
    <li><a href="@Url.Content("/")">Trang Chủ</a></li>
    @foreach(var item in Model)
    {
        	<li><a href="@Url.RouteUrl("category", new {title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.CategoryName)})">@item.CategoryName</a></li>
    }
    <li><a href="#">@ViewBag.ProductName</a></li>
           
 </ul>
    </div>