@model BlueDataWeb.Models.QuangCao

@{
    ViewBag.Title = "Delete";
}

<div class="mar10 borall">
    <div class="floatl">
        <span class="floatl">
            <img src="/Areas/Admin/images/icon-48-generic.png" />
        </span>
        <span class="title-name">Xóa danh mục</span>
    </div>
    <ul class="floatr toolbar-list">
        <li id="toolbar-cancel" class="button">
            <a class="toolbar" href="/admin/Images/Index">
                <span class="icon-32-cancel"></span>
                Hủy bỏ
            </a>
        </li>
        <li class="button">
            <div class="toolbar">
                <span class="icon-32-apply"></span>
                <input type="submit" value="Lưu" />
            </div>
        </li>
    </ul>
</div>
<!--end borall-->
<div class="clear0"></div>
<div class="mar10 borall">
    <div class="div100">

        <div>

            <fieldset class="fromlist">
                <legend>Bạn có chắc muốn xóa quảng cáo này?</legend>
                <ul>
                    @Html.HiddenFor(model => model.QuangCaoID)
                    <li>
                        @Html.LabelFor(model => model.Name, "Tên")
                        @Html.TextBoxFor(model => model.Name, new { size = "70" })

                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "validate" })
                    </li>

                    <li class="toolbar">
                        <label></label>

                        @using (Html.BeginForm())
                        {
                            <p>
                                <input type="submit" value="Delete" class="button_sm" /> |
                                <a class="toolbar back" href="#">Trở về danh sách</a>
                            </p>
                        }
                    </li>
                </ul>
            </fieldset>
        </div>
        <!--end idTrangChuTren1-->
    </div>
</div>
<!--end mar10-->