@{
    Layout = null;
}


<div class="popup_dutoan_blank " id="popup_dutoan_blankTinh">

    <div class="popup_dutoan_content">
        <button type="button" id="close_popupBangTinh" class="close_popup"></button>
        <div class="popup_dutoan_content1">
            <div class="box_ajax">
                <p><strong>Bạn cần xây dựng   <span id="loainhastring1"></span>  
                    <br /> hình thức <span id="hinhthucstring1"></span>
                    <br />  với diện tích là <span id="chieudai2"></span>x<span id="chieurong2"></span></strong></p>
                <p>Diện tích tầng trệt: <b><span id="dttangtret"></span> m<sup>2</sup></b></p>
                <div id="dslau">
                </div>
                <p><span id="mongstring"></span>: <b><span id="mongg"></span>  m<sup>2</sup></b></p>
                <p><span id="maistring"></span>: <b><span id="maii"></span> m<sup>2</sup></b></p>
                <p>Tổng diện tích xây dựng: <b><span id="tongDienTich"></span> m<sup>2</sup></b></p>
                <p>Đơn giá  <span id="hinhthucstring2"></span>: <b><span id="dongia">  </span></b></p>
                <p>Chi phí xây dựng <span id="loainhastring2"></span> <span id="hinhthucstring3"></span> : <b><span id="tongSoTien"></span>  </b></p>
                <p><b style="font-style: italic;">(Giá trên áp dụng đối với diện tích xây dựng 75m2/1sàn trở lên. Áp dụng với các nhà phố thông dụng không có các kiến trúc kết cấu đặc biệt.) </b></p>

            </div>
        </div>
    </div>
</div>