<div class="social">
    <div class="fb-like" data-href="@HttpContext.Current.Request.Url" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    <div class="g-plusone Google_share" data-href="@HttpContext.Current.Request.Url" data-size="medium"></div>
</div>