@{
    Layout = null;
}

 @Html.Partial("_BangTinh")

@*<div class="khung_boxr">
    <div class="title">Ý kiến khách hàng</div>
    <div class="boc">
        <script type="text/javascript">
            $(document).ready(function () {
                $('.slick_ykienkhachhang').slick({
                    infinite: true,
                    accessibility: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    speed: 1000,
                    arrows: false,
                    centerMode: false,
                    dots: false,
                    draggable: true,
                    pauseOnHover: true
                });
            });</script>

        <div class="slick_ykienkhachhang slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 1672px; transform: translate3d(-1254px, 0px, 0px);">
                    <div class="item_ykienkhachhang slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 209px;">
                        <a>
                            <img src="upload/sanpham/sua-49456_500x500.jpg" alt="ÔNG ĐẶNG QUÂN QUẬN TÂN PHÚ">
                            <h3 class="m-0">ÔNG ĐẶNG QUÂN QUẬN TÂN PHÚ</h3>
                            <p>Khi Gđ tôi mua căn nhà tại số 144/2/1 Đường Lê Trọng Tấn do căn nhà này đã quá xuống cấp và không đủ...</p>
                        </a>
                    </div>

                    <div class="item_ykienkhachhang slick-slide" data-slick-index="0" aria-hidden="true" style="width: 209px;">
                        <a>
                            <img src="upload/sanpham/kh11360_500x500.jpg" alt="CHỊ HUỲNH ÁI LINH - QUẬN BÌNH TÂN">
                            <h3 class="m-0">CHỊ HUỲNH ÁI LINH - QUẬN BÌNH TÂN</h3>
                            <p>Gđ tôi xây dựng căn nhà tại số 338/28 đường chiến lược, bình trị đông A, quận bình tân. Qua tìm hiểu...</p>
                        </a>
                    </div>

                    <div class="item_ykienkhachhang slick-slide" data-slick-index="1" aria-hidden="true" style="width: 209px;">
                        <a>
                            <img src="upload/sanpham/kh1423_500x500.jpg" alt="ÔNG HUỲNH ĐỨC HƯNG - QUẬN BÌNH TÂN">
                            <h3 class="m-0">ÔNG HUỲNH ĐỨC HƯNG - QUẬN BÌNH TÂN</h3>
                            <p>Căn nhà tôi tại số 54/11 Đường Liên Khu 10-11 Bình Tân, do nhu cầu mở rộng công năng sử dụng nên tôi quyết...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="khung_boxr">
    <div class="title">Tin tức - sự kiện</div>
    <div class="boc">

        @{Html.RenderAction("NewHome", "TinTuc", new { keyname = "E_TinTuc", view = "_TinTucSideBarRight" });}
    </div>
</div>*@