@model  IEnumerable<BlueDataWeb.Models.Entites.ArchitectureNew>

<div class="title_m"><a href="/kien-truc/dich-vu-xay-dung-4">dịch vụ xây dựng</a></div>
<div class="group_xaydung_danhmuc">
    <div class="item_xaydungdichvu">
        <a rel="48">NHÀ BIỆT THỰ</a>
    </div>
    <div class="item_xaydungdichvu">
        <a rel="47">NHÀ PHỐ</a>
    </div>
</div>
<div class="dichvuxd_so">
    <div id="list_dichvuxd">
        <div class="group_dichvuxaydung list">

            @foreach (var item in Model)
            {
                string link_detail = Url.RouteUrl("KienTrucDetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.ArchitectureCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.ID });
                <div class="item_dichvuxaydung">
                    <a href="@link_detail">
                        <img src="~/Images/News/@item.ImagePath" alt="@item.ShortDescription">
                        <section class="custommmmm">
                            <h3 class="m-0">@item.Title</h3>
                            <p class="m-0">@item.ShortDescription</p>
                        </section>
                    </a>
                </div>
            }
        </div>
        <ul class="pagination paging_list"></ul>
        <script>
            var monkeyList = new List('list_dichvuxd', {
                page: 6,
                pagination: true
            });
        </script>
    </div>
</div>