@model List<BlueDataWeb.Models.Entites.ArchitectureNew>

<div class="group_chenlink custom">

    @foreach (var item in Model)
    {
        string link_detail = Url.RouteUrl("KienTrucDetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.ArchitectureCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.ID });

        <div class="box_chenlink">
            <a href="@link_detail">
                <span class="sole"><img class="lazy loaded" src="~/Images/News/@item.ImagePath" alt="@item.ShortDescription" data-was-processed="true"></span>
                <section class="sole"><strong>@item.Title</strong></section>
            </a>
        </div>
    }
</div>