@{
    ViewBag.Title = "About";
}

 
 
 

<div class="container body-content">

    <div class="row">
        <div class="col-md-10 main-content">
            <div class="col-md-12 breadcumb2 hongha ">
                <span class="b-intro">Giới thiệu   </span>
            </div>
            <div class="col-md-12">
                <div style="text-align: justify;">
                    Tổng Công ty CP Phong Phú trải qua 50 năm hình thành và phát triển. Suốt chặng đường dài ấy Phong Phú không ngừng lớn mạnh về mọi mặt. Tổng Công ty vinh dự được Đảng và Nhà nước trao tặng danh hiệu Anh hùng lao động và là doanh nghiệp hoàn thiện chuỗi sản xuất khép kín hàng đầu Tập đoàn Dệt May Việt Nam.
                </div>
            </div>
             
        </div>

        <div class="col-md-2 sidebar">
            <div class="sidebar">

                <div class="sidebar-menu">
                    
                </div>
            </div>
        </div>
    </div>
</div>
 