@{
    ViewBag.Title = "Tin tưc";
}


<div class="clearfix"></div>

@{Html.RenderAction("ViewSider", "Sider", new { typleSider = "E_TinTuc" });}

<div class="container body-content">

    <div class="row" style="margin-top:0px!important">

        <div class="col-md-8 main-content padding0">
            <div class="panel ">
                <div class="panel-heading"> Tin tức 1</div>
                <div class="panel-body">

                    <div class="col-sm-6 col-xs-12">


                        <a href="#">
                            <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                        </a>

                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <a href="#">
                            <h3 class="  hongha">
                                Chống giả sản phẩm bằng SMS
                            </h3>
                        </a>
                        <p style="text-align:justify">
                            Tăng cường bảo mật và hạn chế sản phẩm giả trên thị trường gây ảnh hưởng đến hình ảnh và lợi ích doanh nghiệp, công nghệ SMS chống giả được tích hợp vào tem chống giả giúp khách hàng chủ động kiểm tra sản phẩm thật - giả và có nhiều chương trình khuyến khích hấp dẫn đối với khách hàng.
                        </p>

                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>




                </div>
            </div>


            <div class="panel ">
                <div class="panel-heading"> Tin tức 2</div>
                <div class="panel-body">

                    <div class="col-sm-6 col-xs-12">


                        <a href="#">
                            <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                        </a>

                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <a href="#">
                            <h3 class="  hongha">
                                Chống giả sản phẩm bằng SMS
                            </h3>
                        </a>
                        <p style="text-align:justify">
                            Tăng cường bảo mật và hạn chế sản phẩm giả trên thị trường gây ảnh hưởng đến hình ảnh và lợi ích doanh nghiệp, công nghệ SMS chống giả được tích hợp vào tem chống giả giúp khách hàng chủ động kiểm tra sản phẩm thật - giả và có nhiều chương trình khuyến khích hấp dẫn đối với khách hàng.
                        </p>

                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-6 col-xs-12">

                        <div class="item_new_left">
                            <a href="#">
                                <img class="thumbnail img-responsive" src="//placehold.it/600x350">
                            </a>
                        </div>

                        <div class="item_new_right">
                            <p>
                                <a href="#">
                                    Tư vấn thiết kế
                                </a>
                            </p>
                        </div>
                    </div>




                </div>
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="col-md-4 sidebar">
            <div class="sidebar">
 
            </div>
        </div>
    </div>
</div>