@{
    ViewBag.Title = "Tracking";
}

 <!-- wrapBeacrum -->
        <div class="wrapBeacrum">
        	<div class="container">
            	<div class="divBeacrum">
                	<div class="divSearch">
                    	<div class="search">
                        	<input type="text" class="textbox" placeholder="Find a....">
                            <button type="button" class="btnSearch"></button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="divBeacrumR">
                    	<a href="~/" class="icHome">Trang chủ</a>
                        <span class="sep">/</span>
                        <a href="@Url.RouteUrl("tracking")">Tracking</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- End wrapBeacrum -->
        <div class="wrapContentPage">
        	<div class="container">
            	<div class="divContentPage padd">
                    <div class="line12"></div> 
					<ul class="ulcUS">
                    	<li><a href="http://www.ups.com/tracking/tracking.html"><img src="/Content/data/logo1.png"></a></li>
                        <li><a href="http://www.dhl.com/en.html"><img src="/Content/data/logo2.jpg"></a></li>
                        <li><a href="http://www.tnt.com/webtracker/tracker.do?navigation=1&respLang=en&respCountry=au"><img src="/Content/data/logo4-1.png"></a></li>
                        <li class="last"><a href="https://www.fedex.com/fedextrack/"><img src="/Content/data/logo2-2.png"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
