@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1280px){
	.information .addcart{display:block;margin:10px 0px 0px !important;float:none; clear:both}
	.information .remain-time1, .information .gsp, .information .remain-time1{margin-bottom:10px}
	
}
@media screen and (max-width: 1080px)
{
	.bg-cart{width:980px; background:none}
	.bg-cart-white{width:100%}
	.login-1 input[type="text"], .login-1 input[type="password"]{width:97%}
	.login-1 select.select{width:40%}
	select.select.ct{width:49%;padding:3px 1%}
	select.select.px{width:98%;padding:3px 1%}
	.login-1 .textare{width:98%;padding:3px 1%}
	.login-1 .btn{margin-top:10px;}
}
@media screen and (max-width: 1024px)
{
	.container{max-width:100%;width:auto;padding:0px 5px}
	arch input[type="text"]{ width:200px}
	.footer-contact-sp {
	margin-left: 5px;
	margin-right: 55px !important;}
	.footer .footerbox, .footer .footerbox1 { width:40%}
	.span4 {
	width: 31%; }
	.span1{ width:64%}
	.row{ margin-left:-2%}
	.span3{ width:23%;}
	.span2{ width:98%}
	.span5 { width:48%}
	.img-sp4{height:200px}
	.img-sp4, .img-sp3, .img-sp5{ width:100%;}
	.img-sp3, .img-sp5{ height:190px;}
	.img-sp4 { height:200px}
	[class*="span"] {
	margin:0px 0px 25px 2%;
	min-height: 1px;
	}
	.alllist .menusibar { width:220px;}
	.menu-children{
	margin-left:130px; top:145px;}
	.titlenamepro{}
	.product-item .title{ height:100px}
	.information{ width:65%}
	.right-side{ width:30%}
	.sliders-wrap-inner li { width:90%}
	.sliders-wrap-inner li img{ max-width:100%}
	.alllistall .titlenamepro:hover .alllist{ display:block}
	.divleft{}
	.divright{width:780px}
	
	.footer-hotline{padding:15px 0px}
	.footer-hotline label{display:block;width:100%;padding:0px 10px 10px}
	.footer-hotline ul.footer-social{margin-left:0px}
	.footer-contact-sp{margin:0px 20px !important}
	.product-terms-inner{width:100%}
	.product-terms-inner-in{width:100%}
	
	.content-main .divleft{width:25%}
	.content-main .divright{width:75%}
	
	ul.breaum{width:100%}
}
@media screen and (max-width: 995px)
{
	.divleft{ display:none}
	.divright{width:100%; float:none}
	.ic-adres, .ic-delivery, .ic-house, .ic-changepay, .ic-hotline{margin-left:10px}
	.bg-search input[type="text"]{width:210px}
	
	.bg-cart{width:100%;}
	
	.content-main .divleft{width:25%; display:inline}
	.content-main .divright{width:75%; float:left}
	
	.icon-cart{margin-right:0px !important}
	.ic-complete{margin-left:0px !important}
	
	ol.register li{ overflow:hidden}
	ol.register li label{width:30%;float:left}
	ol.register li input[type="text"], ol.register li input[type="password"]{width:30%;float:left}
	ol.register li span{width:30%;float:left}
	ol.register li label .star{float:none}
	
	.left-colum{width:73%}
	.right-column{width:25%}

}

@media screen and (max-width: 890px)
{

.img-sp3, .img-sp5{ height:190px;}
.img-sp4 { height:200px}
.lof-slidecontent{height:350px !important}
.lof-slidecontent .sliders-wrapper{height:350px !important}
.lof-slidecontent ul.sliders-wrap-inner li{height:350px !important}
.gsp{margin:10px 0px 0px;display:block;width:100px}
.product-title{font-size:17px;line-height:19px}
.lof-slidecontent .navigator-content .button-next{left:10px}
.lof-slidecontent .navigator-content .button-previous{right:10px}
.bgprice{padding:10px 0px 10px}
.divRgid .pad50{padding-left:100px !important}
}
@media screen and (max-width: 850px)
{
.categories_images { }
.menu-children{ width:450px; height:390px; float:left; top:167px; overflow:hidden}
.menu-children1{ width:450px; height:349px; float:left; top:0px; overflow:hidden}
.ic-newh { top:163px; margin-left:20px;}
.bg-search{ display:none}
.bg-search { margin:15px 0px 0px 0px;}
.mt{ display:none}
.img-sp4{ width:100%;}
.img-sp4 img, .img-sp5 img, .img-sp3 img{ max-width:100%; max-height:100%}
.img-sp5{ width:100%;}
.img-sp3{ width:100%;}
.pad50{ padding:10px}

.icon-cart{ margin-right:20px}
.yahoo{display:none}

.information{display:block; float:none; width:98%;padding:0px 1%; border:none}
.right-side{display:none}
.information .gsp{margin:0px 0px 0px 10px}
.container.bgw{ border:none;box-shadow:0px 0px 0px transparent;-webkit-box-shadow:0px 0px 0px transparent;-moz-box-shadow:0px 0px 0px transparent}

.formCart{width:49%}
.ic-complete{margin:0px !important;display:block;float:none;width:100%}
.formCart.borl.bg-complete{width:98%;display:block;padding-bottom:15px}
.login-1 fieldset input[type="text"]{width:97%}
.icon-cart, .ptpament, .ic-complete{float:none;display:block;margin:0px 0px 10px 0!important}
 .mart.inclocktable{margin-top:0px !important}
 .bgw.mart.inclocktable{ box-shadow:0px 0px 0px; background:none}
 .bg-complete{ background:none}
 
 .left-colum{width:100%;float:none;display:block}
 .right-column{display:none}
}
@media screen and (max-width: 800px)
{
.img-sp4, .img-sp3, .img-sp5{ width:100%;}
.img-sp3, .img-sp5{ height:190px;}
.img-sp4 { height:200px}
.product-item .title{ height:68px}
.bg-search { float:left; margin-left:5px;}
/*.titlenamepro{ display:none}*/
#header .header-top{}
.top-menu { float:left}

.mt{ display:none}
.menu-children{
margin-left:100px; top: 201px;}
.categories_images {}
.menu-children{ width:450px; height:400px}
.login-1 input[type="text"], .login-1 input[type="password"]{ width:300px}
.ic-newh { display:none}
select.select{ width:100%}
.menu-children1 { width:400px;}
ol.register li select.select{width:20%}

.content-main .divleft, .content-main .divright{width:100%; display:block; float:none;padding:0px}
.comboxList{display:block}
.content-main .ulcontact{display:none}
.content-main .divright .pad15{padding:10px 0px}
.content-main .divright .pad15 .clear20{height:0}
.content-main .divright .pad15 > h3{padding-bottom:15px}
.content-main .divright .minheight{ min-height:0px}
.content-main .divright select.select{width:100px}
.col4{width:30%}
.col3{width:40%}
.nameIprd{padding-left:2px}
}
@media screen and (max-width: 768px)
{
	ul.menusibar li:hover .menu-children1{display:none}
	.promotetop{position:relative !important}
	.subhello{right:0px;left:auto}
	#header .header-top ul.top-menu > li.hello span{line-height:22px;padding:11px 0px}
	.subhello{text-align:left}
}
@media screen and (max-width: 720px)
{
	#header .header-top{text-align:center}
   .icRegister{display:block;background:url(/Content/images/isset/icReg.png) no-repeat;width:24px; height:22px; position:relative;cursor:pointer;}
   .icRegister:hover{background:url(/Content/images/isset/icReg1.png) no-repeat !important;}
	.testreg{display:none}
	.icLogin{display:block;background:url(/Content/images/isset/icLogin.png) no-repeat;width:20px; height:20px; position:relative;cursor:pointer;}
	.icLogin:hover{background:url(/Content/images/isset/icLogin1.png) no-repeat;}
	.icLgin span{display:none}
	#header .header-top ul.top-menu li > a{padding:0px}
	#header .header-top ul.top-menu li a{padding:0px}
	.icsupport, .newletter, .dealtoday{display:none !important}
	#header .header-top ul.top-menu > li:hover{background:none; border:none;padding-bottom:0px}
	#header .header-top ul.top-menu{float:none; text-align:right}
	#header .header-top ul.top-menu li{ display:inline-block; float:none;padding:6px 0px 4px 0px}
	#header .header-top ul.top-menu > li:hover{padding:6px 0px 4px 0px}
	#header .header-top ul.top-menu li.bor, #header .header-top ul.top-menu li.bor1{border-right:none}
	.rightr{right:-65px}
	
	ul.tabs-header-inner li.floatl{width:18%;padding-left:0px}
	ul.tabs-header-inner li.floatr{width:25%;height:41px}
	#header .header-top ul.top-menu li:hover>ul.doprown {top:26px; }
	.yahoo{ display:inline-block;margin-top:12px;margin-left:2px}
	.ic-adres, .ic-delivery, .ic-house, .ic-changepay, .ic-hotline{margin-top:12px;margin-left:2px}
	#header .header-top ul.top-menu li ul.doprown{ text-align:left}
	#header .header-top ul.top-menu li.firstd ul.doprown.leftt{left:-140px}
	#header .header-top ul.top-menu li.firstd.bor1 ul.doprown.leftt{left:0px}
	
	.product-feature, .product-conditions{float:none;display:block; margin:0px; width:100%;padding:0px}
	
	.pro-img1{display:none}
	.nameIprd{width:100%;padding:0px}
	.col strong{font-weight:normal}
	.testxp{width:auto}
	.tableWrap .heading .col .numxq{display:none}
}
@media screen and (max-width: 650px)
{
.divBasket, .cart{width:auto}
.menu-children1 { width:200px;}
.categories_images { display:none}
.top-menu { float:left}
.menu-children{
margin-left:200px; top: 200px; width:200px}
.ic-newh { top:200px; margin-left:40px}
.span5 { width:98%}
.pro-img{ display:none}.lof-slidecontent{ display:block}
.titlenamepro{ }
.bg-search { margin:15px 0px 0px 0px;}
.span4 {width: 47.5%;}
.span1{ width:98%}
.span3{ width:48%}
.bg-search input[type="text"]{ width:200px}

.menu-children{ width:250px}
.formCart { width:100%}
.icon-cart{ float:left; margin-right:0px}, .ptpament{ margin-right:0px}, .ic-complete{ margin-left:0px}

.lof-slidecontent{height:400px !important}
.lof-slidecontent .sliders-wrapper{height:400px !important}
.lof-slidecontent ul.sliders-wrap-inner li{height:400px !important}
.gsp{margin:0px 0px 0px 10px}
.divRgid .pad50{padding-left:70px !important}
}
@media screen and (max-width: 600px){
	.menu-children{
margin-left:200px; top: 250px; width:200px}
.ic-newh { top:245px}
table.shop-cart td {
    border: 1px solid #E4E4E4;
    padding: 4px; width:auto;
}
ol.register li label{ width:100%;float:none;display:block; text-align:left}
ol.register li input[type="text"], ol.register li input[type="password"]{ width:97%;float:none;display:block;padding:5px 1%}
.content-main .divright select.select{display:block;float:none}
ol.register li label{float:none;display:block;}
.content-main .register textarea{ width:98%;float:none;display:block;padding:5px 1%}
ol.register li span{float:none;width:100%;display:block}
}
@media screen and (max-width: 550px){
	
.menu-children{
margin-left:100px; top: 250px; width:200px}
.footer .footerbox, .footer .footerbox1{ width:100%; float:none}
.span7{ width:98%}
.footer-hotline label{display:none}
.footer-hotline ul.footer-social{float:none;display:block;width:auto; text-align:center}
.footer-hotline ul.footer-social li.footer-contact-sp{display:none}
.footer-hotline ul.footer-social li{ display:inline-block; float:none}
.footer-hotline ul.footer-social li .footer-contact-hotdeal{display:none}
.pad15{padding:10px}
.footer-hotline .martb{display:block;width:100%;text-align:center}
.logo-footer, .footerbox, .footerbox1{display:none}
.footer-hotline{margin-top:0px}
.social-icons{width:45px}

.tableWrap .col.col4{display:none}
.col3{width:50%}
.tableWrap1{ display:block}
.tableWrap1 .heading{display:none}
.tableWrap1 .table-row{display:block; border-bottom:1px solid #ddd}
.tableWrap1 .table-row .testspn{display:inline;}
.tableWrap1 .col{display:block;border:none; text-align:left !important;}
.col01{width:100%}
.col02{width:100%}
.col03{width:100%}
.col03.testR{}
.tableWrap1 .table-row p{float:left}
.pdd{padding:0px}
.span7.bor2{margin:0px;width:100%}
.span7.bor2 .login-1 fieldset{ border:none;padding:10px}
.span7.bor2 .login-1 input[type="text"]{width:98%}
.span7.bor2 .login-1 input[type="password"]{width:98%}
.divRgid{width:100%; margin-top:15px}
.divRgid .pad50.floatl{padding:30px 0px 40px !important; float:none; display:block; width:100%; text-align:center}
.divRgid .floatl{ float:none}

.titlenamepro{font-size:14px;width:180px}
}
@media screen and (max-width: 479px){
.divBasket{display:none}
.information .gsp{margin:0px 0px 10px; display:block;}
}
@media screen and (max-width: 450px){
.img-sp4 img, .img-sp3 img, .img-sp5 img{ max-width:100%;  max-height:100%}
.highlights-cond li.scond{ width:98%}
.menu-children{
margin-left:150px; top: 250px;}
.divleft, .information, .divright, .right-side{ width:100%}
.footer .footerbox, .footer .footerbox1{ width:30%}
.menusibar li.ic-fashion:hover .menu-children, .menusibar li.ic-used:hover .menu-children, .menusibar li.ic-electronic:hover .menu-children, .menusibar li.ic-health:hover .menu-children, .menusibar li.ic-mum:hover .menu-children, .menusibar li.ic-gift:hover .menu-children, .menusibar li.ic-res:hover .menu-children, .menusibar li.ic-tour:hover .menu-children{ display:none}

.footer .footerbox, .footer .footerbox1, .span7{ width:98%}
.footer .footerbox, .footer .footerbox1{ min-height:0px}
.pad50{ padding:0px}
.pad50.floatl{ padding:10px}
.menu-children { width:180px;}
.gsp{margin:10px 0px 0px 0px;}
.lof-slidecontent{height:300px !important}
.lof-slidecontent .sliders-wrapper{height:300px !important}
.lof-slidecontent ul.sliders-wrap-inner li{height:300px !important}

.tableWrap .heading{display:none}
.tableWrap .col.col4{display:none}
.tableWrap .col{display:block;width:100%}
.content-cart .tableWrap .col{padding:0px; border:none}
.content-cart .tableWrap{ border:none}
.content-cart .tableWrap .table-row{padding:5px;margin-top:-1px; display:block; position:relative;border:1px solid #ccc;}
.content-cart .delItem { position:absolute; right:0px; top:5px}
.nameIprd{padding-right:24px; width:auto}
.btn, .btn:hover, .continuebuy{width:auto;padding:6px 10px; height:auto; line-height:20px}
.btn, .continuebuy{ background-position:-122px -383px}

.span3, .span4, .span5 { width:100%}
[class*="span"] {
	margin:0px 0px 25px 0px;
	min-height: 1px;
	}
.row{margin-left:0px}
}
@media screen and (max-width: 400px){
.title-large h3{margin-bottom:20PX;}
.menusibar li.ic-fashion:hover .menu-children1, .menusibar li.ic-used:hover .menu-children1, .menusibar li.ic-electronic:hover .menu-children1, .menusibar li.ic-health:hover .menu-children1, .menusibar li.ic-mum:hover .menu-children1, .menusibar li.ic-gift:hover .menu-children1, .menusibar li.ic-res:hover .menu-children1, .menusibar li.ic-tour:hover .menu-children1{ display:none}
ul.tabs-header-inner li.floatl{width:100%;float:none;display:block; text-align:center}
ul.tabs-header-inner li.floatr{ display:none}

[class*="span"]{margin-bottom:10px}

.clear20{height:10px}
.price{margin-bottom:0px}
}

@media screen and (max-width: 250px){
.img-sp3, .img-sp5{ height:200px}
.img-sp4{ height:250px}
.footer .footerbox, .footer .footerbox1{ width:90%}
}
