
/* ######### CSS for Shade Tabs. Remove if not using ######### */
.tabcontent
{
	border:solid 1px #e1e1e1;padding:20px;font-family:Arial;font-size:12px;color:#353535;margin-left:10px;margin-right:10px;
	line-height:20px;min-height:100px;height:auto !important;height:100px;
		-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;

			
	}
.frameLeft{height:24px;margin-left:70px;}
.shadetabs
{
margin:0;
padding-left:0;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display:inline-block;
margin:0;
height:26px;
float:left;
margin-right:2px;

}

.shadetabs li a{
text-decoration: none;
color:#fff;font-family:Arial;font-size:12px;
line-height:26px;
display:inline-block;
background:#ccc
}
.shadetabs li a span
{
height:26px;
display:inline-block;
cursor:pointer;
background:#ccct;
_background:#ccc;
position:relative;
}
.shadetabs li a span span
{
height:26px;
display:inline-block;
cursor:pointer;
background:#ccc;
_background:#ccc;
position:relative;
width:98px;
text-align:center;color:#4c4c4c;
line-height:26px;
}

.shadetabs li a:hover
{
background:#999
}

.shadetabs li a.selected{ /*selected main tab style */                        
background:#999
}

.shadetabs li a.selected:hover{ /*selected main tab style */                                
background:#999
}

.shadetabs li a:hover span,li a.selected span
{
background:#999;_background:#999
}
.shadetabs li a:hover span span,li a.selected span span
{
background:#999;
_background:#999
}


.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}
