@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCateProduct.cshtml";
}

 <div class="clear3"></div>
            <div class=" div100 bg-img">
            	<div class="category-title">Thời trang</div>
                <div class="clear0"></div>
                <div class="row">
                <!--1-->
                     <div class="span1 product-item">
                        <div class="meta">
                            <div class="buy_number"><span>27</span><em> đã mua</em></div>
                            <div class="time">
                            <span>403 : 9 : 46</span>
                            </div>
                        </div>
                        <div class="type type-voucher"></div>
                        <div class="thuml">
                            <div class="img-sp4">
                                <a href="#"><img src="~/Content/images//h10.jpg"/></a>
                            </div>
                        </div>
                        <div class="meta-icon-deal-new"></div>
                        <div class="title">
                            <h2><a title="Áo Khoác Caro Có Nón" href="#">01 Trong 03 Combo Món Ăn Bổ Dưỡng Từ Tuyết Giáp Tại </a></h2>
                            <span class="sell-price">125.000<sup>đ</sup></span>
                            <span class="original-price">210.000<sup>đ</sup></span>
                        </div>
                    </div><!--end span1-->
                	 <!--1-->
                     <div class="span4 product-item">
                        <div class="meta">
                            <div class="buy_number"><span>27</span><em> đã mua</em></div>
                            <div class="time">
                            <span>403 : 9 : 46</span>
                            </div>
                        </div>
                        <div class="type type-voucher"></div>
                        <div class="thuml">
                            <div class="img-sp4">
                                <a href="#"><img src="~/Content/images//h3.jpg"/></a>
                            </div>
                        </div>
                        <div class="meta-icon-deal-new"></div>
                        <div class="title">
                            <h2><a title="Áo Khoác Caro Có Nón" href="#">01 Trong 03 Combo Món Ăn Bổ Dưỡng Từ Tuyết Giáp Tại </a></h2>
                            <span class="sell-price">125.000<sup>đ</sup></span>
                            <span class="original-price">210.000<sup>đ</sup></span>
                        </div>
                    </div><!--end span4-->
                     <!--1-->
                     <div class="span4 product-item">
                        <div class="meta">
                            <div class="buy_number"><span>27</span><em> đã mua</em></div>
                            <div class="time">
                            <span>403 : 9 : 46</span>
                            </div>
                        </div>
                        <div class="type type-voucher"></div>
                        <div class="thuml">
                            <div class="img-sp4">
                                <a href="#"><img src="~/Content/images//h3.jpg"/></a>
                            </div>
                        </div>
                        <div class="meta-icon-deal-new"></div>
                        <div class="title">
                            <h2><a title="Áo Khoác Caro Có Nón" href="#">01 Trong 03 Combo Món Ăn Bổ Dưỡng Từ Tuyết Giáp Tại </a></h2>
                            <span class="sell-price">125.000<sup>đ</sup></span>
                            <span class="original-price">210.000<sup>đ</sup></span>
                        </div>
                    </div><!--end span4-->
                     <!--1-->
                     <div class="span4 product-item">
                        <div class="meta">
                            <div class="buy_number"><span>27</span><em> đã mua</em></div>
                            <div class="time">
                            <span>403 : 9 : 46</span>
                            </div>
                        </div>
                        <div class="type type-voucher"></div>
                        <div class="thuml">
                            <div class="img-sp4">
                                <a href="#"><img src="~/Content/images//h3.jpg"/></a>
                            </div>
                        </div>
                        <div class="meta-icon-deal-new"></div>
                        <div class="title">
                            <h2><a title="Áo Khoác Caro Có Nón" href="#">01 Trong 03 Combo Món Ăn Bổ Dưỡng Từ Tuyết Giáp Tại </a></h2>
                            <span class="sell-price">125.000<sup>đ</sup></span>
                            <span class="original-price">210.000<sup>đ</sup></span>
                        </div>
                    </div><!--end span4-->
                     <!--1-->
                     <div class="span4 product-item">
                        <div class="meta">
                            <div class="buy_number"><span>27</span><em> đã mua</em></div>
                            <div class="time">
                            <span>403 : 9 : 46</span>
                            </div>
                        </div>
                        <div class="type type-voucher"></div>
                        <div class="thuml">
                            <div class="img-sp4">
                                <a href="#"><img src="~/Content/images//h3.jpg"/></a>
                            </div>
                        </div>
                        <div class="meta-icon-deal-new"></div>
                        <div class="title">
                            <h2><a title="Áo Khoác Caro Có Nón" href="#">01 Trong 03 Combo Món Ăn Bổ Dưỡng Từ Tuyết Giáp Tại </a></h2>
                            <span class="sell-price">125.000<sup>đ</sup></span>
                            <span class="original-price">210.000<sup>đ</sup></span>
                        </div>
                    </div><!--end span4-->
                </div><!--end row bgw-->
            </div><!--end bg-img-->
