<div class="col-sm-12 col-xs-12 paddingleft0 paddingright0">
    <div>
        <h3 class=" title title-side_right title-side  hongha">
            <a href="~/lien-he">
                Hỗ trợ trực tuyến
            </a>
        </h3>
    </div>

    <div class="thumbnail img-hover" style="border:none!important">
        <img class="img-responsive" src="~/Content/images/icon/online_bk.png" />
    </div>

    <div class="contact_online ">
        <div class="col-sm-4 text_contact"><i class="fa fa-phone"></i> Điện thoại:</div>
        <div class="col-sm-8">
            <span class="phone-hot">08.37500370</span>
        </div>

        <div class="col-sm-4 text_contact"><i class="fa fa-phone"></i> Hotine:</div>
        <div class="col-sm-8">
            <span class="phone-hot">08.37500370</span>
        </div>

        <div class="col-sm-4 text_contact"><i class="fa fa-phone"></i> Fax:</div>
        <div class="col-sm-8">
            <span class="phone-hot">08.37504734</span>
        </div>

        <div class="col-sm-4  text_contact "><i class="fa fa-envelope"></i>Email:</div>
        <div class="col-sm-8">
            <a href="mailto:ctymoitruongxanh@yahoo.com.vn" class="email_contact">ctymoitruongxanh@yahoo.com.vn</a>
        </div>

        <div class="col-sm-4 text_contact"><i class="glyphicon glyphicon-user"></i> Chat:</div>
        <div class="col-sm-8 chat_content">
            <a href="ymsgr:sendIM?ctymoitruongxanh">

                <img src="~/Content/images/icon/Yahoo-Messenger-icon.png" width="56px" />
            </a>

            <a title="" href="skype:lequocviet4990?chat">

                <img src="/Content/images/skype.png" alt="Nick Skype lequocviet4990" width="56px">
            </a>
        </div>
    </div>
</div>

<div class="clearfix"></div>