@*<div class="col-sm-12 col-xs-12 paddingleft0 paddingright0">
    <div><h3 class=" title title-side_right title-side  hongha">Thống kê</h3></div>
    <div>
        <div class="contact_online " style="margin-top:0px!important">
            <div class="col-sm-5 text_contact"><i class="fa fa-user"></i> User online:</div>
            <div class="col-sm-7">
                <span class="text_tk " id="usersCount">1</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-5 text_contact"><i class="fa fa-user"></i> Tổng số truy cập:</div>
            <div class="col-sm-7">
                <span class="  text_tk" id="userTotal"></span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>*@


 
 
 
 
 