@model IEnumerable<BlueDataWeb.Models.Entites.News>
<div class="col-sm-12 col-xs-12   paddingleft0 paddingright0 ">
    <div>
        <h3 class=" title title-side_right title-side  hongha">
            <a href="~/tin-tuc"> Tin tức nổi bật</a>
        </h3>
    </div>
    @foreach (var item in Model)
    {

        string link_detail = Url.RouteUrl("TinTucDetail", new { cate = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.NewCategory.Name), title = BlueDataWeb.Utility.HelperSEO.ToSeoUrl(item.Title), id = item.NewsID });

        <div class=" col-sm-12 col-xs-12  ">
            <div class="col-sm-4 thumbnail">
                <img src="~/Images/News/@item.ImagePath" class="img-responsive">
            </div>

            <div class="col-sm-8">
                <a href="@link_detail">
                    @item.Title
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    }
</div>

<div class="clearfix"></div>