 


<footer class="footer-distributed">

    <div class="footer-left">

        <div style="text-align: center;">
            <img src="~/Content/images/logo_footer.png" />
        </div>
      

        <p class="footer-links">
            <a href="~/"> Trang chủ</a>
            ·
            <a href="~/san-pham">Sản phẩm</a>
            ·
            <a href="~/dich-vu">Dịch vụ</a>
            ·
            <a href="~/lien-he">Liên hệ</a>
           
        
        </p>

        <p class="footer-company-name">www.xanhsachdep.com &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Số 214 đường số 5, Khu phố 3, P. Bình Hưng Hòa, <br /> Q. Bình Tân, TP.HCM </span> </p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>Đt: (08).37500370 - Fax: (08).37504734</p>
        </div>

        

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:ctymoitruongxanh@yahoo.com.vn">ctymoitruongxanh@yahoo.com.vn</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span style="text-align: center;">
                Công ty TNHH Xây Dựng <br>
                Môi Trường Xanh
            </span>
            Cung cấp dịch vụ trồng cây xanh, xây dựng Mảng xanh khu công nghiệp · Hà tầng cây xanh · Nhà Công nghiệp · Nhà phố và biệt thự · Nội thất ngoại thất · Tiểu cảnh sân vườn · Thi công xây dựng
        </p>

        <div class="footer-icons"> 
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a> 
        </div>

    </div>

</footer>