 <div class="container ">
    <div class="menu_left_title">Giới thiệu</div>
    <div class="list-group list-group-menu">
        <a href="~/bai-viet/ve-fibo-sms" class="list-group-item">Về Fibo SMS</a>
        <a href="~/bai-viet/chinh-sach-hop-tac" class="list-group-item">Chính sách hợp tác</a>
        <a href="~/bai-viet/chinh-sach-bao-mat" class="list-group-item">Chính sách bảo mật</a>
    </div>

    <div class="menu_left_title">
        Dịch vụ
    </div>
    <div class="list-group list-group-menu">
        <a href="~/dich-vu-sms-brandname" class="list-group-item">SMS Brand Name</a>
        <a href="~/dich-vu-sms-hosting" class="list-group-item">SMS Hosting</a>
        <a href="~/dich-vu-sms-2ways" class="list-group-item">SMS 2ways</a>
        <a href="~/dich-vu-dau-so-sms" class="list-group-item">Đầu số SMS</a>
        <a href="~/bai-viet/lap-trinh-sms" class="list-group-item">Lập trình SMS</a>
        <a href="~/bai-viet/tong-dai-sms" class="list-group-item">Tổng đài SMS</a>
        <a href="~/bai-viet/phan-mem-sms" class="list-group-item">Phần mềm SMS</a>
    </div>

    <div class="menu_left_title">Tài Liệu</div>

    <div class="list-group list-group-menu">
        
        <a href="/tai-lieu" class="list-group-item">Tài liệu API SMS</a>
    </div>
</div>