<div class="wrap-customer">
    <div><h3 class="title-side hongha">Hỗ trợ trực tuyến</h3></div>

    <p class="text-right">
        <a href="ymsgr:sendIM?thuanvm1102">

            <img width="101" border="0" height="21" src="http://mail.opi.yahoo.com/online?u=thuanvm1102&amp;m=g&amp;t=2">
        </a>

        <a href="skype:thuanvm1102?chat" title=""><img alt="Nick Skype thuanvm1102" src="~/Content/images/skype.png"></a>
    </p>

    <p class="text-right" style="">
        <span style="color:red">HOTLINE:</span> <span class="hongha" style="font-weight: bold; font-size: 18px;  ">0934681447</span>
    </p>

    <div class="clearfix"></div>
</div>