<script type="text/jscript">
    function checkMoney(AmountValue) {
        //var AmountValue = document.getElementById('Gia').value;
        var num = parseFloat(AmountValue);
        if (isNaN(num))
            num = "0";
        sign = (num == (num = Math.abs(num)));
        num = Math.floor(num * 100 + 0.50000000001);
        cents = num % 100;
        num = Math.floor(num / 100).toString();
        if (cents < 10)
            cents = "0" + cents;
        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)
            num = num.substring(0, num.length - (4 * i + 3)) + ',' + num.substring(num.length - (4 * i + 3));
        num = (((sign) ? '' : '-') + num);

        return num;
    }

    jQuery(function ($) {
        $('#City_Province').change(function () {
            $.getJSON('/Payment/DistrictList/' + $('#City_Province').val(), function (data) {
                $('#ship').text(checkMoney(data.PriceSum));
                $('#shiptemp').val(data.PriceSum);
                $('.TotalOder').text(checkMoney(data.TotalOrder));
                var items = '<option value=' + 0 + '>--Chọn Quận/Huyện--</option>';
                $.each(data.SelectDis , function (i, district) {
                    items += "<option value='" + district.Value + "'>" + district.Text + "</option>";
                });
                $('#District').html(items);
                var items2 = '<option value=' + 0 + '>--Chọn Phường/Xã--</option>';
                $('#Ward').html(items2);
            });
        });

        $('#District').change(function () {
            $.getJSON('/Payment/WardList/' + $('#District').val(), function (data) {
                if (data.PriceSum != -1) {
                    $('#ship').text(checkMoney(data.PriceSum));
                    $('#shiptemp').val(data.PriceSum);
                    $('.TotalOder').text(checkMoney(data.TotalOrder));
                }
                var items = '<option value=' + 0 + '>--Chọn Phường/Xã--</option>';
                $.each(data.SelectDis, function (i, ward) {
                    items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                });
                $('#Ward').html(items);
            });
        });
    });
</script>
