 

@model IEnumerable<BlueDataWeb.Models.Entites.NewCategory>

@{
    ViewBag.Title = "Danh mục blog";

}

<div class="title_page">

    <div class="row">
        <div class="col-md-10">
            <h4> @ViewBag.Title </h4>
        </div>

        <div class="col-md-2  txtRight">

            <a class="btn btn-primary " href="~/admin/NewsCategory/Create">
                <i class="fa fa-plus">
                </i>
                Thêm mới
            </a>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">

        <ul class="list-group list-group-flush">
            @foreach (var item in Model.Where(m => m.ParentCategoryID == 0))
            {
                <li class="list-group-item">

                    <a class="button blue" title="Sửa" href="/admin/NewsCategory/Create?id=@item.NewCategoriesID">
                        @item.Name
                    </a>


                    <a class="btn-small  red" href="/admin/NewsCategory/Delete?id=@item.NewCategoriesID" title="Xóa">
                        <i class="fa fa-recycle"></i>
                    </a>
                </li>

                var lstcatelv2 = Model.Where(m => m.ParentCategoryID == item.NewCategoriesID).ToList();
                foreach (var itemlv2 in lstcatelv2)
                {
                    <li class="list-group-item">

                        <a class="button blue" title="Sửa" href="/admin/NewsCategory/Create?id=@itemlv2.NewCategoriesID">
                            -- @itemlv2.Name
                        </a>

                        <a class="btn-small  red" href="/admin/NewsCategory/Delete?id=@itemlv2.NewCategoriesID" title="Xóa">
                            <i class="fa fa-recycle"></i>
                        </a>
                    </li>

                    var lstcatelv3 = Model.Where(m => m.ParentCategoryID == itemlv2.NewCategoriesID).ToList();
                    foreach (var itemlv3 in lstcatelv3)
                    {

                        <a class="button blue" title="Sửa" href="/admin/NewsCategory/Create?id=@itemlv3.NewCategoriesID">
                            ---- @itemlv3.Name
                        </a>

                        <a class="btn-small  red" href="/admin/NewsCategory/Delete?id=@itemlv3.NewCategoriesID" title="Xóa">
                            <i class="fa fa-recycle"></i>
                        </a>

                    }
                }
            }
        </ul>
    </div>
</div>